checklist

<div class="row">
    <div class="col-lg">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>View</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Asset</td>
                    <td><button class="btn btn-primary" (click)="printAsset()">Print</button></td>
                </tr>
                <tr>
                    <td>Placard</td>
                    <td><button class="btn btn-primary" (click)="printPlacard()">Print</button></td>
                </tr>
                <tr>
                    <td>Continuity Label</td>
                    <td><button class="btn btn-primary" (click)="printContinuity()">Print</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>