@use '../../../../standalone/shared/standalone-shell-layout.shared' as standaloneShell;

.mini-pie {
  width: 56px;
  height: 56px;
}

.mini-pie-inner {
  width: 44px;
  height: 44px;
  font-size: 0.65rem;
}
