<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Customer Order: {{customerOrderNumber}}</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="dismiss()" aria-label="Close"></button>
</div>

<div class="modal-body" *ngIf="isLoading">
  <app-loading [isLoading]="isLoading" [showBorder]="false"></app-loading>
</div>

<div class="modal-body" *ngIf="!isLoading">
  <div class="input-group mb-3 w-50">
    <div class="input-group-prepend" (click)="getData()">
      <button class="btn btn-primary" type="button">Search</button>
    </div>
    <input type="search" class="form-control" placeholder="Enter customer order" [(ngModel)]="customerOrderNumber"
      (keyup.enter)="getData()">
  </div>
  <div class="mb-3">
    <ag-grid-angular *ngIf="data?.length > 0" class="ag-theme-alpine" [gridOptions]="gridOptions" [rowData]="data">
    </ag-grid-angular>
    <div class="card-body" *ngIf="data?.length == 0">
      <h5 class="text-danger">No record found</h5>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button (click)="dismiss()" type="button" [disabled]="isLoading" class="btn btn-gray me-3">Close</button>
  <button (click)="getData()" type="button" [disabled]="isLoading" class="btn btn-primary">Refresh</button>
</div>