<div class="modal-header">
  <div class="input-group flex-nowrap" style="width:300px">
    <div class="input-group-prepend">
      <button class="btn btn-primary" (click)="getData()" type="button" [disabled]="isLoading">Search</button>
    </div>
    <input type="search" class="form-control" placeholder="Enter customer order" [(ngModel)]="customerOrderNumber"
      (keyup.enter)="getData()" [disabled]="isLoading">
  </div>

  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="dismiss()" aria-label="Close"></button>
</div>

<div class="modal-body" *ngIf="isLoading">
  <app-loading [isLoading]="isLoading" [showBorder]="false"></app-loading>
</div>

<div class="modal-body" *ngIf="!isLoading">
  <h4 class="modal-title mb-3">Customer Order: {{customerOrderNumber}}</h4>
  <ag-grid-angular *ngIf="data?.length > 0" class="ag-theme-quartz" [gridOptions]="gridOptions" [rowData]="data">
  </ag-grid-angular>
  <div class="card-body" *ngIf="data?.length == 0">
    <h5 class="text-danger">No record found</h5>
  </div>
</div>

<div class="modal-footer">
  <button (click)="dismiss()" type="button" class="btn btn-light">Close</button>
  <button (click)="getData()" type="button" [disabled]="isLoading" class="btn btn-primary">Refresh</button>
</div>