<div class="row">
  <div class="col-12 col-xl-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <div>
            <app-date-range (setDateRange)="onChangeDate($event)" [value]="dateRange" [disabled]="this.isAll"
              [displayOptions]="true"></app-date-range>
          </div>

          <div class="ms-3"> <ng-select [dropdownPosition]="'bottom'" [searchable]="false" bindLabel="name"
              bindValue="name" [clearable]="false" [items]="selectedViewOptions" [(ngModel)]="selectedViewType"
              (change)="getData()" style="width:150px" [appendTo]="'body'">
            </ng-select>
          </div>
          
          <button class="btn btn-light ms-3" (click)="getData()"><i class="mdi mdi-refresh"></i></button>

          <div class="form-check form-switch form-switch-md ms-3">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="isAll"
              (change)="getData()">
            <label class="form-check-label" for="flexSwitchCheckDefault">Show All</label>
          </div>

          <div class="ms-3 ms-auto">
            <app-grid-settings [gridApi]="gridApi" [gridColumnApi]="gridColumnApi"
              [pageId]="pageId"></app-grid-settings>
          </div>

          <div class="ms-3">
            <app-grid-filters [gridApi]="gridApi" [gridColumnApi]="gridColumnApi" [pageId]="pageId"></app-grid-filters>
          </div>
          <!-- <div class="">
            <h4 class="card-title mb-0 flex-grow-1"> {{title}} </h4>
          </div> -->
        </div>
      </div>
      <div class="card-body p-0">
        <ag-grid-angular [gridOptions]="gridOptions" class="ag-theme-quartz no-border"
          style="height: calc(100vh - 170px);" [rowData]="data" [columnDefs]="columnDefs">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>