<ngx-simplebar class="me-3 border-0 mb-2 d-none d-lg-block">
  <div class="container-fluid">
    <div class="d-flex flex-row flex-nowrap">
      <div class="card mb-3 me-3" style="max-width: 420px;min-width: 420px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <h1 [ngClass]="{'text-danger':openRequests?.hits > 0}">{{openRequests?.hits || 0}}</h1>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="mb-2"><span class="mdi mdi-folder-open-outline"></span> Open Requests</h4>
              <p class="card-text">Requests submitted by customers with no fsid assigned.</p>
              <p class="card-text"><small class="text-muted">{{time}}</small></p>
              <a [routerLink]="['/field-service/request/list']" [queryParams]="{selectedViewType: 'Open'}"
                class="btn btn-primary mt-3">
                <i class="mdi mdi-open-in-new"></i> View Requests
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 me-3" style="max-width: 440px;min-width: 440px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <h1 [ngClass]="{'text-danger':openJobs?.hits > 0}">{{openJobs?.hits || 0}}</h1>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="mb-2"><span class="mdi mdi-folder-open-outline"></span> Open Jobs</h4>
              <p class="card-text">Jobs are considered open if job is in Pending or Confirmed status</p>
              <p class="card-text"><small class="text-muted">{{time}}</small></p>
              <a [routerLink]="['/field-service/jobs/list']"
                [queryParams]="{selectedViewType: 'Open', isAll:true}" class="btn btn-primary  mt-3">
                <i class="mdi mdi-open-in-new"></i> View Open Jobs
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 me-3" style="max-width: 440px;min-width: 440px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <h1 [ngClass]="{'text-danger':openTickets?.hits > 0}">{{openTickets?.hits || 0}}</h1>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="mb-2"><span class="mdi mdi-folder-open-outline"></span> Open Tickets</h4>
              <p class="card-text">Tickets are considered open if ticket is created and not submitted.</p>
              <p class="card-text"><small class="text-muted">{{time}}</small></p>
              <a [routerLink]="['/field-service/ticket/list']"
                [queryParams]="{selectedViewType: 'Open', isAll:true}" class="btn btn-primary  mt-3">
                <i class="mdi mdi-open-in-new"></i> View Open Tickets
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 me-3" style="max-width: 440px;min-width: 440px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <h1 [ngClass]="{'text-danger':openInvoices?.hits > 0}">{{openInvoices?.hits || 0}}</h1>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="mb-2"><span class="mdi mdi-folder-open-outline"></span> Open Invoices</h4>
              <p class="card-text">Tickets submitted without an invoice date</p>
              <p class="card-text"><small class="text-muted">{{time}}</small></p>
              <a [routerLink]="['/field-service/jobs/job-open-invoice']" [queryParams]="{isAll:true}"
                class=" btn btn-primary mt-3">
                <i class="mdi mdi-open-in-new"></i> View Open Invoices
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-simplebar>


<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <div class="me-3">
            <app-date-range (setDateRange)="onChangeDate($event)" [value]="dateRange"
              [displayOptions]="true"></app-date-range>
          </div>
          <button class="btn btn-primary me-3" [routerLink]="['/field-service/reports/invoice-report']">
            <i class="mdi mdi-chart-box-outline"></i> View Details
          </button>
          <div class="ms-auto">
            <h4 class="card-title mb-0 flex-grow-1"> Invoice Summary </h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="isLoading" class="mb-3">
          <h4>
            <div class="spinner-grow text-primary spinner-grow-sm" role="status" style="margin-bottom:2px">
              <span class="visually-hidden">Loading...</span>
            </div>
            Loading Data. Please wait...
          </h4>
        </div>
        <app-invoice-summary [data]="invoiceSummary"></app-invoice-summary>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <div class=" me-3">
            <app-date-range (setDateRange)="onChangeDate1($event)" [value]="dateRange1"
              [displayOptions]="true"></app-date-range>
          </div>
          <button class="btn btn-primary me-3" [routerLink]="['/field-service/reports/service-report']">
            <i class="mdi mdi-chart-box-outline"></i> View Details
          </button>
          <div class="ms-auto">
            <h4 class="card-title mb-0 flex-grow-1"> Job Summary </h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="isLoading" class="mb-3">
          <h4>
            <div class="spinner-grow text-primary spinner-grow-sm" role="status" style="margin-bottom:2px">
              <span class="visually-hidden">Loading...</span>
            </div>
            Loading Data. Please wait...
          </h4>
        </div>
        <app-job-summary [data]="jobSummary"></app-job-summary>
      </div>
    </div>
  </div>
</div>