# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/frontend/dist
/backend/qad-api/dist
/backend/nest-api/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/frontend/node_modules
/backend/nest-api/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Environment and secrets
.env
.env.*
!backend/.env.development.example
!backend/.env.production.example

# Local QAD ODBC driver files
backend/qad-driver/

#main app config
/frontend/src/app/config/app.config.ts
/frontend/.angular

# backend runtime logs
/backend/nest-api/logs/
/backend/nest-api/*.log
