<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <ng-select [dropdownPosition]="'bottom'" [searchable]="false" bindLabel="name" bindValue="name"
          [clearable]="false" [items]="selectedViewOptions" [(ngModel)]="selectedViewType" (change)="getData()"
          style="width:150px" class="ms-2 me-2">
        </ng-select>

        <h4 class="card-title mb-0 flex-grow-1 text-end"> {{title}} </h4>
      </div>
      <div class="card-body p-0">
        <ag-grid-angular class="ag-theme-quartz no-border" [rowData]="data" [columnDefs]="columnDefs" [gridOptions]="gridOptions"
          style="width: 100%;height: calc(100vh - 172px);">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
