<form [formGroup]="form" autocomplete="off">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label required">First Name</label>
            <input type="text" class="form-control" name="first" formControlName="first" placeholder="Enter first name"
                [ngClass]="{ 'is-invalid': submitted && f.first.errors }" />
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label required">Last Name</label>
            <input type="text" class="form-control" name="last" formControlName="last" placeholder="Enter last name"
                [ngClass]="{ 'is-invalid': submitted && f.last.errors }" />
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label required">Email</label>
        <input type="text" class="form-control" name="email" formControlName="email" placeholder="Enter email name"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
    </div>

    <div class="row">
        <div class="col-md">
            <app-user-search-v1 (notifyParent)="notifyParent($event)" [value]="form.value['parentId']"
                [ngClass]="{ 'is-invalid': submitted && f.parentId.errors }"
                [form_label]="'Reports to (User ID)'"></app-user-search-v1>
        </div>
    </div>

    <div class="row">
        <div class="col-md mb-3">
            <label class="form-label required">Title</label>
            <input type="text" class="form-control" name="title" formControlName="title" placeholder="Enter title"
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        </div>
    </div>

    <div class="row">
        <div class="col-md mb-3">
            <label class="form-label required">Department</label>
            <select class="form-select" formControlName="area" [ngClass]="{ 'is-invalid': submitted && f.area.errors }">
                <option selected disabled value="null">--SELECT--</option>
                <option *ngFor="let row of departments" [value]="row">
                    {{row}}</option>
            </select>
        </div>
        <div class="col-md mb-3">
            <label class="form-label required">Access Rights</label>
            <select class="form-select" formControlName="employeeType"
                [ngClass]="{ 'is-invalid': submitted && f.employeeType.errors }">
                <option selected disabled value="null">--SELECT--</option>
                <option *ngFor="let row of accessRight" [value]="row.value">
                    {{row.name}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md mb-3">
            <label class="form-label">User Roles</label>
            <ng-select [searchable]="true" [addTag]="true" formControlName="workArea" placeholder="Select roles"
                multiple="true" [bindLabel]="'label'" [bindValue]="'label'"></ng-select>
        </div>
    </div>

    <div class="row">
        <div class="col-md mb-3">
            <label class="form-label required">Last Login Date</label>
            <input type="datetime-local" class="form-control" name="lastLoggedIn" formControlName="lastLoggedIn"
                [ngClass]="{ 'is-invalid': submitted && f.lastLoggedIn.errors }" />
        </div>
    </div>



    <div class="mb-3">
        <label class="form-label">Login Attempts</label>
        <div class="input-group">
            <span class="input-group-text bg-primary pointer text-white" id="basic-addon1" (click)="clearAttempts()">Clear Attempts</span>
            <input type="text" class="form-control" placeholder="attempts" formControlName="attempts" readonly>
        </div>
    </div>


    <!-- <div class="mb-3">
        <label class="form-label">Login Attempts</label>
        <input type="text" class="form-control" name="attempts" formControlName="attempts" placeholder="Enter attempts"
            [ngClass]="{ 'is-invalid': submitted && f.attempts.errors }" />
        <small>Set attempts to 0 if user is locked out of dashboard </small>
    </div> -->

    <!-- <div class="mb-3">
        <label class="form-label">Access</label>
        <input type="text" class="form-control" name="access" formControlName="access" placeholder="Enter access"
            [ngClass]="{ 'is-invalid': submitted && f.access.errors }" />
        <small>Set access to 1 to login to dashboard</small>
    </div> -->

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="access" formControlName="access"
            (change)="form.value.access = form.value.access ? 1: 0">
        <label class="form-check-label" for="access">
            Access to dashboard
        </label>
    </div>

    <div class="mb-3">
        <div class="form-check form-switch form-switch-md">
            <input class="form-check-input" type="checkbox" id="active" formControlName="active"
                (change)="setBooleanToNumber('active')">
            <label class="form-check-label" for="active">Active</label>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-check form-switch form-switch-md">
            <input class="form-check-input" type="checkbox" id="isEmployee" formControlName="isEmployee"
                (change)="setBooleanToNumber('isEmployee')">
            <label class="form-check-label" for="isEmployee">isEmployee</label>
        </div>
    </div>


    <div class="input-group mb-3" *ngIf="form.value.image">
        <input type="text" class="form-control" placeholder="No profile image found" formControlName="image" readonly>
        <span class="input-group-text pointer" id="basic-addon2" (click)="removeImage()">Remove</span>
    </div>

</form>