.graphics-production .pastDue {
    background: #d9534f !important;
    color: #fff !important;
}

.graphics-production .dueToday {
    background: #5cb85c !important;
    color: #fff !important;
}

.graphics-production .future {
    background: rgb(30, 139, 195, 0.9) !important;
    color: #fff !important;
}

.graphics-production .black {
    background: #000 !important;
    color: #fff !important;
}

.graphics-production .yellow {
    background: yellow !important;
    color: #000 !important;
}

.graphics-production .orangered {
    background: #FF4500 !important;
    color: white !important;
}