<div *ngIf="this.ticketInfo?.fs_scheduler_id && this.ticketInfo?.id && !isLoading">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mt-n4 mx-n4 rounded-0">
        <div class="bg-dark-subtle">
          <div class="card-body pb-0 px-4">
            <div class="row mb-3">
              <div class="col-md">
                <div class="row align-items-center g-3">
                  <div class="col-md-auto d-none d-lg-block">
                    <div class="avatar-md">
                      <div class="avatar-title bg-white rounded-circle">
                        <img src="assets/images/companies/img-4.png" alt="" class="avatar-xs">
                      </div>
                    </div>
                  </div>
                  <div class="col-md">
                    <div>
                      <div class="d-flex mb-2 align-middle">
                        <button class="btn btn-light btn-sm me-2" (click)="goBack()">Go Back</button>
                        <h4 class="fw-bold mb-0 pb-0">{{title}}</h4>
                      </div>
                      <div class="hstack gap-3 flex-wrap">
                        <div><i class="ri-building-line align-bottom me-1"></i> {{schedulerInfo?.property}}</div>
                        <div class="vr"></div>
                        <div>FSID : <a (click)="viewJobInfo()" class="pointer"><u><span class="fw-medium">{{schedulerInfo?.fs_scheduler_id}}</span></u></a></div>
                        <div class="vr"></div>
                        <div>Service Type : <span class="fw-medium">{{schedulerInfo?.service_type}}</span></div>
                        <div class="vr"></div>
                        <div>Ticket ID : {{this.ticketInfo?.id}}</div>

                        <div class="avatar-group" *ngIf="connectingJobs">
                          <a href="javascript: void(0);" class="avatar-group-item material-shadow"
                            *ngFor="let row of connectingJobs" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{{row}}">
                            <div class="avatar-xxs">
                              <div class="avatar-title rounded-circle bg-light text-primary">
                                {{row | slice:0:1}}
                              </div>
                            </div>
                          </a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-auto">
                Ticket Submitted:
                <p><b>{{ticketInfo?.dateSubmitted || 'Not Completed'}}</b></p>
              </div>
            </div>

            <ul (navChange)="onNavChange($event)" ngbNav #customNav="ngbNav" [activeId]="active"
              class="nav nav-tabs-custom border-bottom-0" role="tablist" style="overflow:auto;flex-wrap:nowrap;white-space: nowrap;">
              <li [ngbNavItem]="1" class="nav-item">
                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                  <i class="ri-dashboard-line text-muted align-bottom me-1"></i> Events
                </a>
                <ng-template ngbNavContent>
                  <app-event [workOrderId]="this.ticketInfo?.id"></app-event>
                </ng-template>
              </li>
              <li [ngbNavItem]="2" class="nav-item">
                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                  <i class="ri-file-list-2-line text-muted align-bottom me-1"></i> Receipts
                </a>
                <ng-template ngbNavContent>
                  <app-receipt [workOrderId]="this.ticketInfo?.id"></app-receipt>
                </ng-template>
              </li>
              <li [ngbNavItem]="3" class="nav-item">
                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                  <i class=" ri-file-shield-line text-muted align-bottom me-1"></i> Serial Info
                </a>
                <ng-template ngbNavContent>
                  <app-serial [workOrderId]="this.ticketInfo?.id"></app-serial>
                </ng-template>
              </li>
              <li [ngbNavItem]="4" class="nav-item">
                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                  <i class="ri-pages-line text-muted align-bottom me-1"></i> Attachments
                </a>
                <ng-template ngbNavContent>
                  <app-attachment [workOrderId]="this.ticketInfo?.id"></app-attachment>
                </ng-template>
              </li>
              <li [ngbNavItem]="5" class="nav-item">
                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                  <i class="ri-clipboard-line text-muted align-bottom me-1"></i> Crash Kit
                </a>
                <ng-template ngbNavContent>
                  <app-crash-kit [workOrderId]="this.ticketInfo?.id"></app-crash-kit>
                </ng-template>
              </li>
              <li [ngbNavItem]="6" class="nav-item">
                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                  <i class="ri-logout-box-r-line text-muted align-bottom me-1"></i> Submit
                </a>
                <ng-template ngbNavContent>
                  <app-work-order [workOrderId]="this.ticketInfo?.id"></app-work-order>
                </ng-template>
              </li>

            </ul>
          </div>
          <!-- end card body -->
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="tab-content text-muted">
        <div [ngbNavOutlet]="customNav"></div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>