<div class="modal-header">
  <h4 class="modal-title">User Info</h4>
  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="dismiss()" aria-label="Close"></button>
</div>
<div class="modal-body mh-250">

  <app-loading [isLoading]="isLoading" [showBorder]="false"></app-loading>

  <app-user-edit-form (setFormEmitter)="form = $event" [submitted]="submitted"></app-user-edit-form>

  <div class="mb-3 mt-3">
    <p class="mb-2">Select profile picture</p>
    <input (change)="this.onFilechange($event)" class="form-control" type="file" id="file" name="file">
  </div>

  <h4 *ngIf="!isLoading && !data">Sorry, no data found.</h4>

</div>
<div class="modal-footer">
  <button (click)="dismiss()" type="button" class="btn btn-light">Close</button>
  <button (click)="onSubmit()" type="button" class="btn btn-primary"
    [disabled]="isLoading || this.form.disabled">Update</button>
</div>