<div class="modal-header align-items-center d-flex border-bottom">
    <h4 class="modal-title mb-0" id="modal-basic-title">Trip Detail - {{id ? 'ID ' + id : 'Create'}}</h4>
</div>

<div class="modal-body">
    <app-trip-details-form (setFormEmitter)="setFormElements($event)" [submitted]="submitted"
        [id]="id"></app-trip-details-form>
</div>

<div class="modal-footer border-top">
    <button (click)="dismiss()" type="button" class="btn btn-light me-2 ms-auto">Close</button>
    <button (click)="onSubmit()" type="button" class="btn btn-primary">{{id ? 'Update' : 'Create'}}</button>
</div>