<div class="row">
  <div class="content-grid col-xxl-7">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <button class="btn btn-light shadow-none bg-light rounded border-0 me-2 me-auto" *ngIf="goBack"
          (click)="goBack()"><i class="mdi mdi-arrow-left pointer text-muted"></i> Back</button>
        <h4 class="card-title mb-0 flex-grow-1 text-end"> {{title}} </h4>
      </div>
      <div class="card-body" style="min-height:300px">
        <app-email-notification-form (setFormEmitter)="setFormEmitter($event)"
          [submitted]="submitted"></app-email-notification-form>


        <div class="row" *ngIf="fileNameLocation">
          <div class="col-md">
            <app-user-search-v1 (notifyParent)="notifyParent($event)"
              [ngClass]="{ 'is-invalid': submitted && form.value.user_id.errors }"
              [form_label]="'Search & add users to list'" [addTag]="addTag"></app-user-search-v1>
          </div>
        </div>

        <table class="table table-bordered">
          <tbody>
            <tr *ngFor="let row of listByFileName">
              <td>{{row.id}}</td>
              <td>{{row.email}}</td>
              <td class="text-danger text-center"><span (click)="removeById(row.id)" class="pointer">X</span></td>
            </tr>
          </tbody>
        </table>


      </div>
      <div class="card-footer d-flex  d-flex justify-content-between">
        <button class="btn btn-light" [disabled]="isLoading" (click)="onCancel()">Close</button>
      </div>
    </div>
  </div>
</div>