<div class="row" *ngIf="!data && !id">
  <div class="content-grid col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-10 col-xxxl-12">
    <div class="card">
      <div class="card-body" style="min-height:300px">
        Please select from list.
      </div>
      <div class="card-footer d-flex  d-flex justify-content-between">
        <button class="btn btn-light" [disabled]="isLoading" (click)="onCancel()">Go to list</button>
      </div>
    </div>
  </div>
</div>

<div class="row" [hidden]="!data && !id">
  <div class="content-grid col col-lg-12 col-xl-12 col-xxl-12">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <button class="btn btn-light btn-sm shadow-none bg-light rounded border-0 me-2 me-auto" *ngIf="goBack"
          (click)="goBack()"><i class="mdi mdi-arrow-left pointer text-muted"></i> Back</button>
        <h4 class="card-title mb-0 flex-grow-1 text-end"> {{title}} </h4>
      </div>
      <div class="card-body" style="min-height:300px">
        <app-igt-transfer-form (setFormEmitter)="form = $event" [submitted]="submitted"
          [disableSearch]="true"></app-igt-transfer-form>
      </div>
      <div class="card-footer d-flex " *ngIf="data && id">
        <button class="btn btn-light" [disabled]="isLoading" (click)="onCancel()">Cancel</button>
        <button class="btn btn-light ms-auto me-2" [disabled]="isLoading" (click)="onPrint()"> Print </button>
        <button class="btn btn-warning me-2" [disabled]="isLoading" (click)="onSend()"> Send Email </button>
        <button class="btn btn-primary" [disabled]="isLoading" (click)="onSubmit()"> Update </button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="print  d-none d-print-block" id="print"> -->

<div class="print  d-none d-print-block" id="print">
  <div class="row">
    <div class="col-lg-6 col-sm mb-3 text-start d-none d-lg-block d-print-block">
      <img src="https://dashboard.eye-fi.com/attachments/igt.png" style="width:138px;position:absolute;left:50px"
        class="img-fluid">
      <div style="margin-left:40px;margin-top:50px;">
        <p class="mb-0">Transfer Reference: <b>{{header.transfer_reference}}</b></p>
        <p class="mb-0">Transfer Description: <b>{{header.transfer_reference_description}}</b></p>
      </div>
    </div>
    <div class="col-lg-6 col-sm mb-3 text-center">
      <h3 class="mb-1"><b>PRODUCT TRANSFER FORM</b></h3>
      <p class="mb-1">IGT Internal Transaction:<b> 311 to {{header.to_location}} </b></p>
      <p>Date: <b>{{header.email_sent_datetime | date}} </b></p>
    </div>
  </div>


  <table class="table table-sm align-middle table-bordered">
    <thead>
      <tr>
        <td>Part #</td>
        <td>Description</td>
        <td>Qty</td>
        <td>From/Loc</td>
        <td>To/Loc</td>
        <td>Pallet #</td>
        <td>S/N</td>
      </tr>
    </thead>
    <tbody>
      <tr class="p-0 m-0 align-middle" *ngFor="let row of data; let i=index">
        <td> {{row.part_number}} </td>
        <td> {{row.description}} </td>
        <td> {{row.qty}} </td>
        <td> {{header.from_location}} </td>
        <td> {{header.to_location}} </td>
        <td> {{row.pallet_count}} </td>
        <td> {{row.serial_numbers}} </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-lg-6 col-sm mb-3 text-start d-none d-lg-block d-print-block" style="margin-left:40px">
      <p class="mb-0" style="margin-top:30px;">Eyefi Signature: <b
          style="font-family:cursive"><em>{{header.email_sent_created_by_name}}</em></b></p>
      <p class="mb-0">Print Name: <b>{{header.email_sent_created_by_name}}</b></p>
      <p class="mb-0">Date: <b>{{header.email_sent_datetime | date}}</b></p>
    </div>
  </div>

</div>