<div class="row">
  <div class="content-grid col col-lg-12 col-xl-10 col-xxl-8">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4 class="card-title mb-0 flex-grow-1 text-end"> {{title}} </h4>
      </div>
      <div class="card-body" style="min-height:300px">
        <app-ncr-form (setFormEmitter)="form = $event" [submitted]="submitted"></app-ncr-form>
      </div>
      <div class="card-footer d-flex  d-flex justify-content-between">
        <button class="btn btn-primary" [disabled]="isLoading" (click)="onSubmit()">Update NCR</button>
      </div>
    </div>
  </div>
</div>
