<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">

        <div class="form-icon me-3">
          <input type="search" class="form-control form-control-icon" style="width:250px"
            (ngModelChange)="this.gridApi?.setQuickFilter($event);" [value]="searchName" [(ngModel)]="searchName"
            placeholder="Search">
          <i class="ri-search-2-line"></i>
        </div>

        <ng-select [searchable]="false" bindLabel="name" bindValue="name" [clearable]="false"
          [items]="selectedViewOptions" [(ngModel)]="selectedViewType" (change)="getData()" style="width:150px"
          [appendTo]="'body'">
        </ng-select>
        <h4 class="card-title mb-0 flex-grow-1 text-end"> {{title}} </h4>
      </div>
      <div class="card-body p-0">
        <ag-grid-angular [gridOptions]="gridOptions" class="ag-theme-quartz no-border"
          style="height: calc(100vh - 172px);" [rowData]="data" [columnDefs]="columnDefs">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>