<form [formGroup]="form" autocomplete="off">
    <div class="form-group mb-3">
        <label class="required">Name</label>
        <input type="text" class="form-control" name="Name" formControlName="Name" />
    </div>
    <div class="form-group mb-3">
        <label class="required">Title</label>
        <input type="text" class="form-control" name="Title" formControlName="Title" />
    </div>
    <div class="form-group mb-3">
        <label class="required">Email</label>
        <input type="text" class="form-control" name="Email" formControlName="Email" />
    </div>
    <div class="form-group mb-3">
        <label>Office Phone</label>
        <input type="text" class="form-control" name="officePhone" formControlName="officePhone" />
    </div>
    <div class="form-group mb-3">
        <label>Mobile Phone (Visible on Signature)</label>
        <input type="text" class="form-control" name="mobilePhone" formControlName="mobilePhone" />
    </div>
    <div class="form-group mb-3">
        <label class="required">Address 1</label>
        <input type="text" class="form-control" name="Address1" formControlName="Address1" />
    </div>
    <div class="form-group mb-3">
        <label class="required">Address 2</label>
        <input type="text" class="form-control" name="Address2" formControlName="Address2" />
    </div>

    <!-- <div class="form-group mb-3">
        <label class="required">City</label>
        <input type="text" class="form-control" name="City" formControlName="City" />
    </div>
    <div class="form-group mb-3">
        <label class="required">State</label>
        <input type="text" class="form-control" name="State" formControlName="State" />
    </div>
    <div class="form-group mb-3">
        <label class="required">Zip Code</label>
        <input type="text" class="form-control" name="ZipCode" formControlName="ZipCode" />
    </div> -->
</form>