<form [formGroup]="form" autocomplete="off">

  <div class="row">
    <div class="col-sm-4 mb-3">
      <label class="form-label">Produce By</label>
      <select class="form-select" formControlName="type" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
        <option selected disabled value="">--Select--</option>
        <option *ngFor="let row of formData.produceBy" [value]="row">{{row}}</option>
      </select>
    </div>
    <div class="col-sm-4 mb-3">
      <label class="form-label">Date Issued</label>
      <input class="form-control" type="date" formControlName="dateIssued"
        [ngClass]="{ 'is-invalid': submitted && f.dateIssued.errors }" />
    </div>
    <div class="col-sm-4 mb-3">
      <label class="form-label">Status</label>
      <select class="form-select" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
        <option *ngFor="let row of formData.status" [value]="row.name">{{row.name}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col mb-3">
      <app-qir-search (notifyParent)="notifyParent($event)" [value]="f.qirNumber.value"
        [ngClass]="{ 'is-invalid': submitted && f.qirNumber.errors }"></app-qir-search>
    </div>
  </div>

  <div class="row">
    <div class="col-sm mb-3">
      <app-qad-customer-name-search (notifyParent)="getCustomerName($event)"
        [ngClass]="{ 'is-invalid': submitted && f.customer.errors }"
        [value]="f.customer.value"></app-qad-customer-name-search>
    </div>
    <div class="col-sm mb-3">
      <label class="form-label">Tag QN Number</label>
      <input class="form-control" type="text" formControlName="tag_qn_number" placeholder="Enter QN Number"
        [ngClass]="{ 'is-invalid': submitted && f.tag_qn_number.errors }" />
    </div>
  </div>

  <div class="mb-3">
    <app-qad-part-search (notifyParent)="setQadPartNumber($event)"
      [ngClass]="{ 'is-invalid': submitted && f.partNumber.errors }" [value]="f.partNumber.value"></app-qad-part-search>
  </div>

  <div class="mb-3">
    <label class="form-label">Description</label>
    <input class="form-control" type="text" formControlName="partDescription" placeholder="Enter Part Description"
      [ngClass]="{ 'is-invalid': submitted && f.partDescription.errors }" />
  </div>

  <div class="row">
    <div class="col-sm-6 mb-3">
      <label class="form-label">Order Number</label>
      <input class="form-control" type="text" formControlName="orderNumber" placeholder="Enter Order Number"
        [ngClass]="{ 'is-invalid': submitted && f.orderNumber.errors }" />
    </div>
    <div class="col-sm-6 mb-3">
      <label class="form-label">Qty</label>
      <input class="form-control" type="number" formControlName="qty" placeholder="Enter Qty"
        [ngClass]="{ 'is-invalid': submitted && f.qty.errors }" />
    </div>
  </div>



  <div class="row">
    <div class="col-sm-4 mb-3">
      <label class="form-label">Return Method</label>
      <input class="form-control" type="text" formControlName="returnMethod" placeholder="Enter Return Method"
        [ngClass]="{ 'is-invalid': submitted && f.returnMethod.errors }" />
    </div>
    <div class="col-sm-4 mb-3">
      <label class="form-label">Return Type</label>
      <select formControlName="returnType" class="form-select"
        [ngClass]="{ 'is-invalid': submitted && f.returnType.errors }">
        <option selected disabled value="">--Select--</option>
        <option *ngFor="let row of formData.returnType" [value]="row">{{row}}</option>
      </select>
    </div>
    <div class="col-sm-4 mb-3">
      <label class="form-label">Disposition</label>
      <select formControlName="disposition" class="form-select"
        [ngClass]="{ 'is-invalid': submitted && f.disposition.errors }">
        <option selected disabled value="">--Select--</option>
        <option *ngFor="let row of formData.disposition" [value]="row.name">{{row.name}}</option>
      </select>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Failure Code</label>
    <select formControlName="failureCode" class="form-select"
      [ngClass]="{ 'is-invalid': submitted && f.failureCode.errors }">
      <option selected disabled value="">--Select--</option>
      <option *ngFor="let row of formData.failureCodes" [value]="row.failureCode">{{row.description}} -
        {{row.failureCode}}</option>
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Notes</label>
    <textarea class="form-control" type="text" formControlName="notes" rows="5" placeholder="Enter notes"
      [ngClass]="{ 'is-invalid': submitted && f.notes.errors }"></textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Customer Comment</label>
    <textarea class="form-control" type="text" formControlName="customerComment" rows="5"
      placeholder="Enter customer comments"
      [ngClass]="{ 'is-invalid': submitted && f.customerComment.errors }"></textarea>
  </div>


  <div class="mb-3">
    <div class="form-check form-switch form-switch-md">
      <input class="form-check-input" type="checkbox" id="active" formControlName="active"
        (change)="setBooleanToNumber('active')">
      <label class="form-check-label" for="active">Active</label>
    </div>
  </div>

</form>