<div class="row">
    <div class="col-md-8">
        <div *ngFor="let row of data | search:searchByName; let  i = index">
            <div class="card">
                <div class="card-body pb-0" #screen id="{{row.id}}">
                    <table cellpadding="0" cellspacing="0" border="0"
                        style="border:0px thin #fff;margin-bottom:10px;padding-bottom:10px">
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" border="0" style="border:0px thin #fff">
                                    <tbody>
                                        <tr>
                                            <td style="border-right:1px solid #002F6C;padding-right:15px">
                                                <a href="https://the-fi-company.com/" target="_blank">
                                                    <img width="130" src="assets/images/fi-color.png"></a>

                                            </td>
                                            <td style="padding-left:10px">
                                                <table cellpadding="0" cellspacing="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding-bottom:0px;">
                                                                <p class="my-font"
                                                                    style="margin: 0px;font-size: 24px;color: #002F6C;">
                                                                    {{row.Name}}
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-bottom:5px;padding-top:0px">
                                                                <i>
                                                                    <p class="my-fontd my-font-regular"
                                                                        style="margin: 0; font-size: 15px;font-weight:800;color:#FF1200;">
                                                                        <span>{{row.Title}}</span>
                                                                    </p>
                                                                </i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0px">
                                                                <table cellpadding="0" cellspacing="0" border="0">
                                                                    <tr>
                                                                        <td style="padding:0px">
                                                                            <i class="mdi mdi-web"></i>
                                                                        </td>
                                                                        <td style="padding:0px">
                                                                            <p class="my-font-regular"
                                                                                style="margin:0px;font-size:15px;margin-bottom:3px;margin-left:5px">
                                                                                <a href="https://the-fi-company.com"
                                                                                    style="text-decoration: none;color: #002F6C;"
                                                                                    target="_blank">www.the-fi-company.com</a>
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:0px;">
                                                                            <i class="mdi mdi-email-outline"></i>
                                                                        </td>
                                                                        <td style="padding:0px">
                                                                            <p class="my-font-regular"
                                                                                style="margin:0px;font-size:15px;margin-bottom:3px;margin-left:5px">
                                                                                <a href="mailto:{{row.Email}}"
                                                                                    style="text-decoration: none;color: #002F6C;"
                                                                                    target="_blank">{{row.Email}}</a>
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr *ngIf="row.officePhone">
                                                                        <td style="padding:0px">
                                                                            <i class="mdi mdi-phone-outline"></i>
                                                                        </td>
                                                                        <td style="padding:0px">
                                                                            <p class="my-font-regular"
                                                                                style="margin:0px;font-size:15px;margin-bottom:2px;margin-left:5px;color: #002F6C;">
                                                                                <span>O:{{row.officePhone}}</span>
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr *ngIf="row.mobilePhone">
                                                                        <td style="padding:0px">
                                                                            <i class="mdi mdi-phone-outline"></i>
                                                                        </td>
                                                                        <td style="padding:0px">
                                                                            <p class="my-font-regular"
                                                                                style="margin:0px;font-size:15px;margin-bottom:2px;margin-left:5px;color: #002F6C;">
                                                                                <span>M:{{row.mobilePhone}}</span>
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table width="100%" cellpadding="0" cellspacing="0" border="0"
                                    style="border-collapse: collapse; color: #333; width: auto; line-height: 1.2;">
                                    <tbody>
                                        <tr>
                                            <td valign="top">
                                                <p class="my-font-regular"
                                                    style="margin: 0.75pt; color: #666; font-size: 11px; line-height: 12px">
                                                    CONFIDENTIALITY NOTICE: This e-mail (including any documents
                                                    referred to in or attached to this e-mail) may contain
                                                    information that is personal,
                                                    confidential, or the subject of copyright or other
                                                    proprietary rights in favor of fi
                                                    Holdings, its affiliates, or third parties. Any unauthorized
                                                    reading,
                                                    distribution, copying, or
                                                    other use of this message or its attachments is strictly prohibited.
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <div id="download" style="display:none">
                        <img #canvas>
                        <a #downloadLink></a>
                    </div>

                </div>
                <div class="card-footer d-flex">
                    <button class="btn-primary btn me-3" (click)="edit(row.id)">Edit</button>
                    <button class="btn-primary btn me-3" (click)="copyText(row.id, row)">Download</button>
                    <button class="btn-primary btn" (click)="copyAsImage(row.id, row)">Copy as Image</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-body sticky-top d-flex" style="top:62px">
            <button class="btn-primary btn mb-3" (click)="edit()">Create New</button>

            <div class="input-group mb-3">
                <input type="search" class="form-control" placeholder="Search by Name" [(ngModel)]="searchByName"
                    (click)="$any($event.target).select()">
            </div>
        </div>

    </div>
</div>