<div class="row">
    <div class="col-lg-9">
        <div class="card">
            <div class="card-body p-0">
                <div id="map" class="map" style="width:100%;height:calc(100vh - 98px);overflow:hidden"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-header">
                <div class="input-group">
                    <input class="form-control" type="date" id="start" name="trip-start" [(ngModel)]="dateFrom" />
                    <input class="form-control" type="date" id="start" name="trip-start" [(ngModel)]="dateTo" />
                    <button class="btn btn-primary btn-sm" (click)="getData()">Submit</button>
                </div>

            </div>
            <div class="card-header border-bottom-0">
                <button class="btn btn-primary btn-sm me-3" (click)="showAll()">Show All</button>
                <button class="btn btn-primary btn-sm me-3" (click)="getData()">Refresh</button>
                <!-- <button class="btn btn-primary btn-sm" (click)="collapseExpand()">{{collapsed ? 'Expand' : 'Collapse'}} All</button> -->

            </div>
            <div class="card-body p-0">
                <div ngbAccordion [closeOthers]="true" style="height:calc(100vh - 230px);overflow:auto" class="rounded">

                    <div ngbAccordionItem [destroyOnHide]="true" [collapsed]="row.collapsed"
                        (click)="scroll('user-' + row.user_id)" *ngFor="let row of list;let i = index">
                        <h2 id="test-{{row.user_id}}" ngbAccordionHeader
                            class="accordion-header border-0 bg-light sticky-top" style="z-index:3">
                            <button ngbAccordionButton class="p-2 sticky-top"
                                style="border-left:5px solid {{row.color}}" >
                                {{row.user}}
                                <span class="text-end ms-1 badge bg-primary p-1" *ngIf="row.total"> {{row.total ?
                                    row.total : ''}}</span>
                                
                                </button>
                        </h2>
                        <div ngbAccordionCollapse>

                            <div class="list-group list-group-flush p-0">
                                <a href="javascript:void(0);" ngbAccordionBody (click)="viewUser(item.user_id)"
                                    [ngClass]="{'bg-primary-subtle text-primary':geo_id == item.geo_id}"
                                    class="list-group-item list-group-item-action test-{{item.geo_id}}"
                                    *ngFor="let item of row.details; let i = index">
                                    <div class="float-end">
                                        {{item.geo_id}}
                                    </div>
                                    <div class="d-flex mb-2 align-items-center">
                                        <div class="flex-grow-1"  id="test-{{ item.geo_id }}">
                                            <h5 class="list-text mb-0 fs-12">Time: {{item.created_date}}</h5>
                                            <p class="list-text mb-0 fs-12">Event: {{item.type_of}}</p>
                                            <p class="list-text mb-0 fs-12">Latitude: {{item.latitude}}</p>
                                            <p class="list-text mb-0 fs-12">Longitude: {{item.longitude}}</p>
                                            <p class="list-text mb-0 fs-12">Accuracy: Within {{item.accuracy | number :
                                                '1.2-2'}} meters</p>
                                            <p class="list-text mb-0 fs-12 pointer">
                                                <u
                                                    (click)="$event.stopPropagation();viewUser(item.user_id, row);viewJob(item, i, row)">Go
                                                    to marker</u>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <ul class="list-group">
                    <li [style.background-color]="row.color" *ngFor="let row of list" (click)="viewUser(row.user_id)" class="pointer list-group-item" [ngClass]="{'active':currentUserIdView == row.user_id}">{{row.user}} - {{row.total}}</li>
                </ul> -->
            </div>
        </div>
    </div>
</div>