<div style="position:relative;width:310px;padding-right:5px">
    <div class="p-2 sticky-top text-center border-bottom border-2 border-primary bg-light" style="z-index:1">Grid
        Filters</div>

    <div class="list-group list-group-flush pointer">
        <a class="list-group-item list-group-item-action py-2 d-flex justify-content-between " aria-current="true"
            (click)="selectTable(row)" [ngClass]="{ active: value == row.id }" id="test-{{ row.id }}"
            *ngFor="let row of currentUserGrids; let i = index">
            <p class="me-2">{{i+1}}. </p>
            <p class="me-auto">{{ row.table_name || "No name" }}</p>
            <small>(Filters {{checkFiltersApplied(row.data)}})</small>

            <span class="mdi mdi-star ms-2 text-end"
                [ngClass]="{'text-warning mdi-star' : row.table_default,'mdi-star-outline' : !row.table_default}"
                (click)="$event.stopPropagation(); saveDefault(row)"></span>
        </a>
    </div>

    <div class="list-group list-group-flush sticky-top border-top border-primary border-2 pointer"
        style="bottom:-1px;z-index:1">
        <a class="sticky-top bg-light list-group-item list-group-item-action" (click)="update()" *ngIf="value && !isAdvanceFilterOn">
            <i class="mdi mdi-content-save me-2"></i> Update
            <span class="text-primary">"{{ currentView?.table_name }}"</span>
            Filter
        </a>

        <a class="sticky-top bg-light list-group-item list-group-item-action" (click)="createNewView()" *ngIf="!isAdvanceFilterOn">
            <i class="mdi mdi-content-save-cog me-2"></i> Save as New Filter
        </a>
        <a class="sticky-top bg-light list-group-item list-group-item-action" (click)="viewAll()">
            <i class="mdi mdi-cogs me-2"></i> View All
        </a>
        <a class="sticky-top bg-light list-group-item list-group-item-action" (click)="clearFilters()"
            *ngIf="(gridApi?.getFilterModel() | json) != '{}'">
            <i class="mdi mdi-close me-2 text-info"></i> Clear Filters
        </a>
    </div>

    <button class="btn btn-primary m-2" (click)="showAdvanceFilter()">{{isAdvanceFilterOn ? 'Close' : 'Open'}} Advance
        Filter</button>

    <div *ngIf="isAdvanceFilterOn" class="p-2">
        <p>when using advanced filters, they typically cannot be saved as custom filters for future use. Advanced
            filters are designed for one-time use, allowing for complex criteria to be applied to your data, but to save
            specific filter settings, you generally need to use regular filtering options or create specific views
            within the software or application you are using.</p>
    </div>
</div>