<div class="row" *ngIf="!data && !id">
  <div class="content-grid col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-10 col-xxxl-12">
    <div class="card">
      <div class="card-body" style="min-height:300px">
        Please select from list.
      </div>
      <div class="card-footer d-flex  d-flex justify-content-between">
        <button class="btn btn-light" [disabled]="isLoading" (click)="onCancel()">Go to list</button>
      </div>
    </div>
  </div>
</div>

<div class="row" [hidden]="!data && !id">
  <div class="content-grid col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-10 col-xxxl-12">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <button class="btn btn-light btn-sm shadow-none bg-light rounded border-0 me-2 me-auto" *ngIf="goBack"
          (click)="goBack()"><i class="mdi mdi-arrow-left pointer text-muted"></i> Back</button>
        <h4 class="card-title mb-0 flex-grow-1 text-end"> {{title}} </h4>
      </div>
      <div class="card-body" style="min-height:300px">
        <app-placard-form (setFormEmitter)="setFormEmitter($event)" [submitted]="submitted"></app-placard-form>
      </div>
      <div class="card-footer d-flex" *ngIf="data && id">
        <button class="btn btn-light" [disabled]="isLoading" (click)="onCancel()">Cancel</button>
        <button class="btn btn-light ms-auto me-3" [disabled]="isLoading" (click)="onPrint()"> Print</button>
        <button class="btn btn-primary" [disabled]="isLoading" (click)="onSubmit()"> Update </button>
      </div>
    </div>
  </div>
</div>

<div id="pickSheet">
  <div  class="d-none d-print-block" style="
  page-break-after: always;" *ngFor="let row of totalPrints; let  i = index">
    <div class="margin-bottom-10" style="margin-bottom:20px">
      <img src="https://dashboard.eye-fi.com/attachments/images/fi-company-blue-transparent.png"
        style="width: 230px;" />
    </div>
    <div class="table-responsive">
      <table class="table table-bordered" style="font-size:25px; font-weight:600;">
        <thead>
          <tr>
            <td style="width:43%">Created on</td>
            <td>{{row?.created_date}}</td>
          </tr>
          <tr>
            <td style="width:43%">Customer</td>
            <td>{{row?.customer_name}}</td>
          </tr>
          <tr>
            <td>Eye-Fi W.O.#</td>
            <td>{{row?.eyefi_wo_number}}</td>
          </tr>
          <tr>
            <td>P.O. #</td>
            <td>{{row?.po_number}}</td>
          </tr>
          <tr>
            <td>Eye-Fi S.O.#</td>
            <td>{{row?.eyefi_so_number}}</td>
          </tr>
          <tr>
            <td>Customer CO#/POR#/SO#</td>
            <td>{{row?.customer_co_por_so}}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{row?.description}}</td>
          </tr>
          <tr>
            <td>Eye-Fi P/N</td>
            <td>{{row?.eyefi_part_number}}</td>
          </tr>
          <tr>
            <td>Customer P/N</td>
            <td>{{row?.customer_part_number}}</td>
          </tr>
          <tr>
            <td>Location</td>
            <td>{{row?.location}}</td>
          </tr>
          <tr>
            <td>EyeFi Serial Tag #(s)</td>
            <td>{{row?.eyefi_serial_tag}}</td>
          </tr>
          <tr>
            <td>Customer Serial Tag #(s)</td>
            <td>{{row?.customer_serial_tag}}</td>
          </tr>
          <tr>
            <td>Qty</td>
            <td>{{row?.qty}}</td>
          </tr>
        </thead>
        <tr style="border: none;">
          <td class="text-center" colspan="2" rowspan="3" style="border: none;">
            <div>
              {{row?.label_count}} of {{row?.total_label_count}} {{row?.uom}}
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>