<div class="modal-header mb-0 pb-0">
    <h4 class="modal-title" id="modal-basic-title">{{data?.labelName}} - {{data?.labelSize}}</h4>
</div>

<div class="modal-body">

    <div class="mb-5 text-center">
        <img [src]="data?.labelImage" style="width:200px" class="img-fluid img-thumbnail">
    </div>

    <form [formGroup]="form" autocomplete="off">

        <div class="mb-3">
            <app-qad-part-search (notifyParent)="notifyParent($event)"></app-qad-part-search>
        </div>

        <div class="mb-3">
            <label class="form-label">Customer Part Number</label>
            <input formControlName="customerPartNumber" type="text" class="form-control"
                placeholder="Enter Customer Part Number">
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <input formControlName="description" type="text" class="form-control" placeholder="Enter Part Description">
        </div>

        <div class="mb-3">
            <label class="form-label">Description2</label>
            <input formControlName="description2" type="text" class="form-control" placeholder="Enter Part Description">
        </div>

        <div class="mb-3">
            <label class="form-label">Qty</label>
            <input formControlName="qty" type="text" class="form-control" placeholder="Enter Qty">
        </div>

        <div class="mb-3">
            <label class="form-label">Total Labels</label>
            <input formControlName="totalLabels" type="text" class="form-control" placeholder="Enter Total Labels">
        </div>

    </form>

</div>

<div class="modal-footer">
    <button (click)="dismiss()" type="button" class="btn btn-light me-auto">Close</button>
    <button (click)="onPrint()" type="button" class="btn btn-primary">Print</button>
</div>