<div class="row">
  <div class="content-grid col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-10 col-xxxl-12">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4 class="card-title mb-0 flex-grow-1"> {{title}} </h4>
      </div>
      <div class="card-body" style="min-height:300px">
        <app-ncr-corrective-action-form (setFormEmitter)="form = $event" [submitted]="submitted"></app-ncr-corrective-action-form>
      </div>
      <div class="card-footer d-flex  d-flex justify-content-between">
        <button class="btn btn-primary" [disabled]="isLoading" (click)="onSubmit()">Submit Corrective Action</button>
      </div>
    </div>
  </div>
</div>
