<div class="table-responsive">
    <table class="table table-sm table-bordered" [ngClass]="fontSizeClass">
        <ng-container *ngFor="let row of data | sortBydate  : 'start_datetime'; let i = index">
            <thead>
                <tr [ngClass]="{'bg-info text-dark':row.id == id}">
                    <th colspan="5">
                        {{row.type_of_travel?.replace('_', ' ') | uppercase}} #{{row.id}} FSID. {{row.fsId
                        || 'Not Assigned to FSID #'}}
                        <span (click)="viewTripDetailById(row.id)" class="float-end pointer"><u>  Edit </u></span>
                        <span class="float-end mx-2"> | </span>
                        <span (click)="add(row)" class="float-end pointer"><u> Add </u></span>
                    </th>
                </tr>
            </thead>
            <tbody id="test-{{row.id}}">
                <tr>
                    <th class="table-active">Name</th>
                    <th>{{row.address_name}}</th>
                    <th class="table-active">Confirmation #</th>
                    <th>{{row.confirmation}}</th>
                </tr>
                <tr *ngIf="row.type_of_travel == 'flight'">
                    <th class="table-active">Flight Out</th>
                    <th>{{row.flight_out}}</th>
                    <th class="table-active">Flight In</th>
                    <th>{{row.flight_in}}</th>
                </tr>
                <tr>
                    <th rowspan="2" class="table-active">{{row.location_name || 'Location'}}</th>
                    <th>{{row.address}} {{row.address1}}</th>
                    <th class="table-active">{{row.start_datetime_name}}</th>
                    <th>{{row.start_datetime | date: 'MM/dd/yyyy hh:mm a'}}</th>
                </tr>
                <tr>
                    <th>{{row.city}}, {{row.state}} {{row.zip_code}}</th>
                    <th class="table-active">{{row.end_datetime_name}}</th>
                    <th>{{row.end_datetime | date: 'MM/dd/yyyy hh:mm a'}}</th>
                </tr>
                <tr *ngIf="row.type_of_travel == 'rental_car'">
                    <th class="table-active">Driver</th>
                    <th colspan="3">{{row.rental_car_driver}}</th>
                </tr>
                <tr>
                    <th colspan="4" [ngClass]="{'text-danger': !row.email_sent, 'text-success': row.email_sent}">Email
                        Sent
                        On : {{row.email_sent || 'Not Sent'}}</th>
                </tr>
            </tbody>
            <br />
        </ng-container>
    </table>
</div>