<form [formGroup]="form" autocomplete="off">
    <div class="row">
        <div class="col-lg-4 mb-3 col-sm-12">
            <div class="form-group">
                <label for="date" class="control-label required">Inspector Name</label>
                <input type="type" class="form-control" placeholder="Enter inspectors name" formControlName="created_by"
                    [ngClass]="{ 'is-invalid': submitted && f['created_by'].errors }">
            </div>
        </div>
        <div class="col-lg-4 mb-3 col-sm-12">
            <div class="form-group">
                <label for="date" class="control-label required">Truck License Plate</label>
                <select class="form-select" formControlName="truck_license_plate" (change)="checkAnyFailures()">
                    <option class="form-select" disabled selected value="null">--SELECT--</option>
                    <option *ngFor="let row of vehicleList" [value]="row.licensePlate">License Plate #:
                        {{row.licensePlate}} - {{row.vehicleNumber}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="form?.value?.truck_license_plate">
        <div class="col-lg-4 mb-3 col-sm-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="not_used" formControlName="not_used">
                <label class="form-check-label" for="not_used">
                    Not Used
                </label>
            </div>
        </div>
        <div class="col-lg-4 mb-3 col-sm-12">
            <label for="date" class="control-label">Mileage</label>
            <input type="text" class="form-control" id="mileage" name="mileage" placeholder="Enter mileage"
                formControlName="mileage" [ngClass]="{ 'is-invalid': submitted && f['mileage'].errors }">
        </div>
    </div>



    <div [ngClass]="failureClass" role="alert" *ngIf="failureMessage">
        {{failureMessage}}
    </div>


    <hr>
    <div class="row" *ngIf="!form?.value?.not_used && form?.value?.truck_license_plate">
        <div class="col-lg-12 mb-3">
            <div class="table-responsive">
                <table class="table table-bordered mb-3" *ngFor="let row of formValues?.checklist; let i = index">
                    <thead class="bg-light">
                        <tr>
                            <th style="white-space: normal;">{{row.name}}</th>
                            <th>
                                <div class="form-check form-check-flat form-check-success m-0 p-0">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="status-{{i}}"
                                            [(ngModel)]="row.status" [ngModelOptions]="{standalone: true}"
                                            (change)="groupSelect(row, row.details, 'status')"
                                            [disabled]="this.form.disabled">
                                        <i class="input-frame"></i> Pass
                                    </label>
                                </div>
                            </th>
                            <th>
                                <div class="form-check form-check-flat form-check-danger m-0 p-0">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="needMaint-{{i}}"
                                            [(ngModel)]="row.needMaint" [ngModelOptions]="{standalone: true}"
                                            (change)="groupSelect(row, row.details, 'needMaint')"
                                            [disabled]="this.form.disabled">
                                        <i class="input-frame"></i> Fail
                                    </label>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody style="white-space: nowrap;" *ngFor="let row1 of row.details; let ii = index;">
                        <tr>
                            <td style="white-space: normal;min-width:400px;max-width:400px">{{row1.name}} <span
                                    class="text-danger" *ngIf="row1.error">(Required)</span>
                            </td>
                            <td style="width:250px;cursor:pointer;text-align:center">
                                <div class="form-check  form-check-success m-0 p-0">
                                    <label class="form-check-label" for="s{{ii}}">
                                        <input type="radio" class="form-check-input" id="s{{ii}}"
                                            name="{{row.name}}{{row1.name}}{{ii}}" [(ngModel)]="row1.status"
                                            [ngModelOptions]="{standalone: true}" [value]="1"
                                            [disabled]="this.form.disabled">
                                        <i class="input-frame"></i> Pass
                                    </label>
                                </div>
                            </td>
                            <td style="width:250px;cursor:pointer;text-align:center">
                                <div class="form-check form-check-flat form-check-danger m-0 p-0">
                                    <label class="form-check-label" for="v{{ii}}1">
                                        <input type="radio" class="form-check-input" id="v{{ii}}1"
                                            [(ngModel)]="row1.status" [ngModelOptions]="{standalone: true}"
                                            name="{{row.name}}{{row1.name}}{{ii}}" [value]="0"
                                            [disabled]="this.form.disabled">
                                        <i class="input-frame"></i> Fail
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <!-- <tr *ngIf="row1.status == 0">
                            <td colspan="3">
                                <textarea autosize [minRows]="1" class="form-control border border-danger" [(ngModel)]="row1.comments" placeholder="Enter reason why it failed. (Option)"></textarea>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-3">
            <div class="form-group">
                <label for="comment">Additional Comments:</label>
                <textarea class="form-control" rows="10" id="comment" formControlName="comments" required></textarea>
            </div>
        </div>
    </div>


    <!-- <div>
        <h4>Attachments</h4>
        <p *ngIf="mainData?.attachments?.length == 0">No Attachment found.
        <p>

        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center pointer"
                (click)="viewImage(row)" *ngFor="let row of mainData?.attachments; let i = index">
                {{row.fileName}}
            </li>
        </ul>
    </div> -->
</form>