<div class="row">
  <div class="col-6 col-xl-6">
    <div class="card">
      <div class="card-body" style="max-height:350px;min-height:350px;overflow:auto">
        <table class="table table-sm mb-0">
          <thead>
            <tr>
              <th>Department</th>
              <th class="text-end">Total NCR's</th>
              <th class="text-end">Open NCR's</th>
              <th class="text-end">Open CA</th>
              <th class="text-end">Open CA Verification</th>
              <th class="text-end">CA OTD</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of summaryInfo?.data">
              <td>{{row?.department}}</td>
              <td class="text-end">{{row?.total_ncrs}}</td>
              <td class="text-end">{{row?.total_open}}</td>
              <td class="text-end">{{row?.total_open_corrective_action}}</td>
              <td class="text-end">{{row?.total_open_verification}}</td>
              <td class="text-end">{{row?.on_time_percentage}}</td>
            </tr>
          </tbody>
          <tbody>
            <tr class="bg-light">
              <td>Summary</td>
              <td class="text-end">{{summaryInfo?.totalNCR}}</td>
              <td class="text-end">{{summaryInfo?.totalOpen}}</td>
              <td class="text-end">{{summaryInfo?.totalOpenCA}}</td>
              <td class="text-end">{{summaryInfo?.totalOpenVerifiation}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-6 col-xl-6">
    <div class="card" style="overflow:hidden">
      <div class="card-body" style="max-height:350px;min-height:350px;overflow:hidden">
        <div *ngIf="isLoading" class="p-5 card-body text-center">
          <h4>
            <div class="spinner-grow text-primary spinner-grow-md mb-3" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <p>Loading Data. Please wait...</p>
          </h4>
        </div>
        <div [hidden]="isLoading">

          <app-ncr-otd-chart [data]="dataChart?.series" [labels]="dataChart?.label" [title]="displayCustomers"
            [average]="average" [stacked]="true" [typeOfView]="typeOfView" [goal]="goal">
          </app-ncr-otd-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-xl-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <div class=" me-3">
            <app-date-range (setDateRange)="onChangeDate($event)" [value]="dateRange" [disabled]="this.isAll"
              [displayOptions]="true"></app-date-range>
          </div>
          <ng-select [dropdownPosition]="'bottom'" [searchable]="false" bindLabel="name" bindValue="name"
            [clearable]="false" [items]="selectedViewOptions" [(ngModel)]="selectedViewType" (change)="getData()"
            style="width:150px" class="me-2" [appendTo]="'body'">
          </ng-select>
          <div class="form-check form-switch form-switch-md ms-3">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="isAll"
              (change)="getData()">
            <label class="form-check-label" for="flexSwitchCheckDefault">Show All</label>
          </div>

          <div class="ms-3 ms-auto">
            <app-grid-settings [gridApi]="gridApi" [gridColumnApi]="gridColumnApi"
              [pageId]="pageId"></app-grid-settings>
          </div>

          <div class="ms-3">
            <app-grid-filters [gridApi]="gridApi" [gridColumnApi]="gridColumnApi" [pageId]="pageId"></app-grid-filters>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <ag-grid-angular [gridOptions]="gridOptions" class="ag-theme-quartz no-border"
          style="height: calc(100vh - 170px);" [rowData]="data" [columnDefs]="columnDefs">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>