<div class="row">
  <div class="col-6 col-xl-6">

    <div class="card">
      <div class="card-header border-0 align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Summary</h4>
      </div><!-- end card header -->
      <div class="card-header p-0 border-0 bg-light-subtle">
        <div class="row g-0 text-center">
          <div class="col-6 col-sm-4">
            <div class="p-3 border border-dashed border-start-0"
              [ngClass]="{'bg-danger-subtle text-danger': summaryInfo?.ca_open_past_due > 0}">
              <h5 class="mb-1">
                <span class="counter-value" [ngClass]="{'text-danger': summaryInfo?.ca_open_past_due > 0}">{{summaryInfo?.ca_open_past_due || 0}}</span>
              </h5>
              <p class="text-muted mb-0">Overdue</p>
            </div>
          </div>
          <!--end col-->
          <div class="col-6 col-sm-4">
            <div class="p-3 border border-dashed border-start-0">
              <h5 class="mb-1">
                <span class="counter-value" [ngClass]="{'text-danger': summaryInfo?.totalOpenVerifiation > 0}">{{summaryInfo?.totalOpenVerifiation || 0}}</span>
              </h5>
              <p class="text-muted mb-0">Open CA Verify</p>
            </div>
          </div>
          <!--end col-->
          <div class="col-6 col-sm-4">
            <div class="p-3 border border-dashed border-start-0 border-end-0">
              <h5 class="mb-1">
                <span class="counter-value">{{summaryInfo?.otd | number : '1.0-0'}}%</span>
              </h5>
              <p class="text-muted mb-0">On Time</p>
            </div>
          </div>
          <!--end col-->
        </div>
      </div><!-- end card header -->

      <div class="card-body p-0" style="max-height:222px;min-height:222px;overflow:auto">
        <table class="table table-sm mb-0 text-nowrap table-hover">
          <thead>
            <tr>
              <th>Department</th>
              <th class="text-center">Total NCR's</th>
              <th class="text-center">Open NCR's</th>
              <th class="text-center">Open CA</th>
              <th class="text-center">Open CA Overdue</th>
              <th class="text-center">Open CA Verify</th>
              <th class="text-center">CA OTD</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of summaryInfo?.data">
              <td (click)="selectJohnAndKenny(row.department)"><a
                  class="link-primary pointer"><u>{{row?.department}}</u></a></td>
              <td class="text-center">{{row?.total_ncrs}}</td>
              <td class="text-center" [ngClass]="{'text-danger': row?.total_open > 0}">{{row?.total_open}}
              </td>
              <td class="text-center" [ngClass]="{'text-danger': row?.total_open_corrective_action > 0}">
                {{row?.total_open_corrective_action}}</td>
              <td class="text-center" [ngClass]="{'text-danger': row?.ca_open_past_due > 0}">{{row?.ca_open_past_due}}</td>
              <td class="text-center" [ngClass]="{'text-danger': row?.total_open_verification > 0}">{{row?.total_open_verification}}</td>
              <td class="text-center" [ngClass]="{'bg-danger-subtle text-danger': row?.on_time_percentage < 75}">
                {{row?.on_time_percentage | number : '1.0-0'}}%</td>
            </tr>
          </tbody>
          <tbody>
            <tr class="bg-light">
              <td (click)="selectJohnAndKenny('All')"><a class="link-primary pointer"><u>Summary</u></a></td>
              <td class="text-center">{{summaryInfo?.totalNCR}}</td>
              <td class="text-center">{{summaryInfo?.totalOpen}}</td>
              <td class="text-center">{{summaryInfo?.totalOpenCA}}</td>
              <td class="text-center">{{summaryInfo?.ca_open_past_due}}</td>
              <td class="text-center">{{summaryInfo?.totalOpenVerifiation}}</td>
              <td class="text-center" [ngClass]="{'bg-danger-subtle text-danger': summaryInfo?.otd < 75}">
                {{summaryInfo?.otd | number : '1.0-0'}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- end card -->
  </div>
  <div class="col-6 col-xl-6">
    <div class="card" style="overflow:hidden">
      <div class="card-body" style="max-height:350px;min-height:350px;overflow:hidden">
        <div *ngIf="isLoading" class="p-5 card-body text-center">
          <h4>
            <div class="spinner-grow text-primary spinner-grow-md mb-3" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <p>Loading Data. Please wait...</p>
          </h4>
        </div>
        <div [hidden]="isLoading">

          <app-ncr-otd-chart [data]="dataChart?.series" [labels]="dataChart?.label" [title]="displayCustomers"
            [average]="average" [stacked]="true" [typeOfView]="typeOfView" [goal]="goal">
          </app-ncr-otd-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-xl-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <div class=" me-3">
            <app-date-range (setDateRange)="onChangeDate($event)" [value]="dateRange" [disabled]="this.isAll"
              [displayOptions]="true"></app-date-range>
          </div>
          <ng-select [dropdownPosition]="'bottom'" [searchable]="false" bindLabel="name" bindValue="name"
            [clearable]="false" [items]="selectedViewOptions" [(ngModel)]="selectedViewType" (change)="getData()"
            style="width:150px" class="me-2" [appendTo]="'body'">
          </ng-select>
          <div class="form-check form-switch form-switch-md ms-3">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="isAll"
              (change)="getData()">
            <label class="form-check-label" for="flexSwitchCheckDefault">Show All</label>
          </div>

          <div class="ms-3 ms-auto">
            <app-grid-settings [gridApi]="gridApi"
              [pageId]="pageId"></app-grid-settings>
          </div>

          <div class="ms-3">
            <app-grid-filters [gridApi]="gridApi" [pageId]="pageId"></app-grid-filters>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <ag-grid-angular [gridOptions]="gridOptions" class="ag-theme-quartz no-border"
          style="height: calc(100vh - 170px);" [rowData]="data" [columnDefs]="columnDefs">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>