<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <div>
                    <div class="form-icon">
                        <input type="search" class="form-control form-control-icon" style="width:250px"
                            (ngModelChange)="this.gridApi.setGridOption('quickFilterText', $event)" [(ngModel)]="query"
                            placeholder="Search">
                        <i class="ri-search-2-line"></i>
                    </div>
                </div>

                <button class="btn btn-light ms-3" (click)="getData()"><i class="mdi mdi-refresh"></i></button>

                <div class="ms-3">
                    <app-grid-settings [data]="tableList?.data" [gridApi]="gridApi"
                        [pageId]="pageId" [value]="this.tableList?.currentView?.id"></app-grid-settings>
                </div>

                <div class="ms-3">
                    <app-grid-filters [data]="defaultFilters" [gridApi]="gridApi"
                        [pageId]="pageId" [value]="this.tableList?.currentView?.id"></app-grid-filters>
                </div>

                <h4 class="card-title mb-0 ms-auto"> {{title}} </h4>
            </div>
            <div class="card-body p-0">
                <app-master-production (setGridApi)="setGridApi($event)" [pageId]="pageId" [routing]="routing"
                    [data]="data" [getData]="getData"></app-master-production>
            </div>
        </div>
    </div>
</div>