<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
  <!-- LOGO -->
  <div class="navbar-brand-box">
    <!-- Dark Logo-->
    <a routerLink="/" class="logo logo-dark">
      <span class="logo-sm">
        <img
          src="https://media.licdn.com/dms/image/C560BAQH-W14cKPsFNg/company-logo_200_200/0/1630662405857/fiholding_logo?e=2147483647&v=beta&t=c-KfmJAV4ryZDJ07JKAuwMLTAEBS7qrP6vWbLiOzF_w"
          alt="" height="22">
      </span>
      <span class="logo-lg text-white">
        The Fi Company <small style="font-size:10px" class="text-muted"><i>{{version}}</i></small>
      </span>
    </a>
    <!-- Light Logo-->
    <a routerLink="/" class="logo logo-light">
      <span class="logo-sm">
        <img
          src="https://media.licdn.com/dms/image/C560BAQH-W14cKPsFNg/company-logo_200_200/0/1630662405857/fiholding_logo?e=2147483647&v=beta&t=c-KfmJAV4ryZDJ07JKAuwMLTAEBS7qrP6vWbLiOzF_w"
          alt="" height="22">
      </span>
      <span class="logo-lg text-white">
        The Fi Company <small style="font-size:10px" class="text-muted"><i>{{version}}</i></small>
      </span>
    </a>
    <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover"
      (click)="toggleMobileMenu($event)">
      <i class="ri-record-circle-line"></i>
    </button>
  </div>

  <div id="scrollbar">
    <div class="container-fluid">
      <div id="two-column-menu">
      </div>

      <!-- Search Input -->
      <div *ngIf="showSearch && !isSidebarSmall()" class="menu-search-container px-3 pb-2 pt-2">
        <div class="position-relative">
          <input
            type="text"
            class="form-control form-control-sm menu-search-input"
            placeholder="Search menu... (Ctrl+K)"
            [value]="searchTerm()"
            (input)="onSearchChange($event)"
            (keydown.escape)="clearSearch()"
            #searchInput>
          <i class="bx bx-search search-icon"></i>
          <i *ngIf="searchTerm()" class="bx bx-x clear-icon" (click)="clearSearch()" title="Clear search"></i>
        </div>
      </div>

      <ngx-simplebar class="sidebar-menu-scroll" style="max-height: calc(100vh - 113px)">
        <ul class="metismenu list-unstyled navbar-nav mt-2" id="navbar-nav1">
          <li class="nav-item pointer">
            <a class="is-parent nav-link menu-link" [routerLink]="'/'">
              <i class="las la-home icon nav-icon"></i>
              <span class=""> Main Menu</span>
            </a>
          </li>

          <li class="nav-item" *ngIf="favs?.length" style="word-break: break-all;">
            <a [attr.aria-expanded]="!isCollapsed" (click)="collapse.toggle();toggleItemFavorite()"
              class="nav-item nav-link pointer" data-bs-toggle="collapse">
              <i class="las la-star icon nav-icon"></i>
              <span class="">Favorites</span>
            </a>
            <div class="collapse menu-dropdown" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
              <ul class="nav nav-sm flex-column" [attr.aria-expanded]="!isCollapsed">

                <li (mouseenter)="mouseHovering(subitem)" (mouseleave)="mouseLeft(subitem);t.close()"
                  class="pointer nav-item list-group-item d-flex justify-content-between align-items-start"
                  *ngFor="let subitem of favs" [routerLink]="subitem.link" (click)="updateActiveFavorite($event);"
                  placement="end" [ngbTooltip]="subitem.link" container="body" [autoClose]="true" #t="ngbTooltip">
                  <a class="nav-link w-100" style="height:auto;">
                    <div class="ms-2 me-auto" style="white-space:normal;overflow: hidden;">
                      <p class="mb-0 pb-0">{{ subitem.label}}</p>
                      <!-- <p style="font-size:10px;">{{ subitem.link}}</p> -->
                    </div>
                    <i style="position:absolute;right:10px"
                      class="las la-minus-circle text-end icon nav-icon text-danger" *ngIf="subitem.showStar"
                      (click)="$event.preventDefault();removeAsFavorite(subitem);$event.stopPropagation()"></i>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>


        <ul class="metismenu list-unstyled navbar-nav mt-2" id="navbar-nav">
          <ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: filteredMenuItems() }">
          </ng-container>
          
          <!-- No search results found -->
          <li class="nav-item" *ngIf="searchTerm() && !hasVisibleItems()">
            <div class="nav-link text-center text-muted py-4">
              <i class="bx bx-search-alt-2 fs-3 mb-2 d-block"></i>
              <span class="small">No menu items found for "{{searchTerm()}}"</span>
            </div>
          </li>
        </ul>

        <ng-template #recursiveMenu let-menuItems>
          <li *ngFor="let menu of menuItems;" class="pointer nav-item" 
              [style.display]="isMenuItemVisible(menu) ? 'block' : 'none'">
            @if(menu.isTitle){
          <li class="menu-title is-parent navbar-nav"><span data-key="t-menu">{{ menu.label }}</span></li>

          }@else if(hasItems(menu)){
          <a title="{{menu.label}}" data-target="#nav{{menu.link}}" [attr.aria-expanded]="shouldExpandDropdown(menu)"
            [class]="searchTerm() ? 'nav-item nav-link disabled-toggle' : 'nav-item nav-link'"
            [attr.data-bs-toggle]="searchTerm() ? null : 'collapse'" 
            (click)="searchTerm() ? null : toggleItem(menu)">
            <i class="{{ menu.icon }} icon nav-icon" *ngIf="menu.icon && menu.id"></i>
            <span class=""> {{ menu.label }} </span>
            <i *ngIf="searchTerm()" class="bx bx-search-alt-2 ms-2 text-muted small" title="Search result"></i>
          </a>
          }@else{
          <a [attr.data-parent]="menu.parent_id" [routerLink]="menu.link" class="nav-link"
            (click)="updateActive($event)" (mouseenter)="mouseHovering(menu)" (mouseleave)="mouseLeft(menu)">
            <i class="{{ menu.icon }} icon nav-icon" *ngIf="menu.icon && menu.id"></i>
            {{ menu.label }}

            <i style="position:absolute;right:10px" *ngIf="menu.showStar && !menu.showStarColor"
              class="las la-star text-end icon nav-icon"
              (click)="$event.preventDefault();saveAsFavorite(menu);$event.stopPropagation()"></i>
            <i style="position:absolute;right:10px" *ngIf="menu.showStar && menu.showStarColor"
              class="las la-star text-end icon nav-icon text-warning"
              (click)="$event.preventDefault();removeAsFavorite(menu);$event.stopPropagation()"></i>
          </a>
          }
          <div class="collapse menu-dropdown" #collapse="ngbCollapse" 
               [ngbCollapse]="!shouldExpandDropdown(menu)">
            <ul class="nav nav-sm flex-column" [attr.aria-expanded]="shouldExpandDropdown(menu)">
              <ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: menu.subItems }"></ng-container>
            </ul>
          </div>
          </li>
        </ng-template>

        <!-- <ul class="metismenu list-unstyled navbar-nav mt-2" id="navbar-nav">

          @for(item of menuItems; track $index){
          @if(item.isTitle){
          <li class="menu-title"><span data-key="t-menu">{{ item.label }}</span></li>
          }@else{

          <li class="nav-item pointer">
            @if(hasItems(item)){
            <a class="is-parent nav-link menu-link" [ngClass]="{'has-arrow': !item.badge, 'has-dropdown': item.badge}"
              data-bs-toggle="collapse" [attr.aria-expanded]="!item.isCollapsed" (click)="toggleItem(item)">
              <i class="{{ item.icon }} icon nav-icon" class=""></i>
              <span class=""> {{ item.label }}</span>
              @if(item.badge && !item.showStar){<span class="badge badge-pill {{item.badge.variant}}">{{item.badge.text
                }}</span>}
            </a>

            <div class="collapse menu-dropdown" #collapse="ngbCollapse" [(ngbCollapse)]="item.isCollapsed">
              <ul class="nav nav-sm flex-column" aria-expanded="false">
                @for(subitem of item.subItems; track $index){
                <li class="nav-item">
                  @if(hasItems(subitem)){
                  <a class="nav-link" [attr.data-parent]="subitem.parent_id" data-bs-toggle="collapse"
                    aria-expanded="false" [attr.aria-expanded]="!subitem.isCollapsed" (click)="toggleItem(subitem)">
                    {{ subitem.label}}
                    @if(subitem.badge && !subitem.showStar){<span
                      class="badge badge-pill {{subitem.badge.variant}}">{{subitem.badge.text
                      }}</span>}
                  </a>

                  <div class="collapse menu-dropdown sub-menu" #collapse="ngbCollapse"
                    [(ngbCollapse)]="subitem.isCollapsed">
                    <ul class="nav nav-sm flex-column" aria-expanded="false">
                      @for(subSubitem of subitem.subItems; track $index){
                      <li class="nav-item">
                        @if(hasItems(subSubitem)){
                        <a class="nav-link" [attr.data-parent]="subSubitem.parent_id" data-bs-toggle="collapse"
                          aria-expanded="false" [attr.aria-expanded]="!subSubitem.isCollapsed"
                          (click)="toggleItem(subSubitem)">
                          {{ subSubitem.label}}
                          @if(subSubitem.badge && !subSubitem.showStar){<span
                            class="badge badge-pill {{subSubitem.badge.variant}}">{{subSubitem.badge.text
                            }}</span>}
                        </a>

                        <div class="collapse menu-dropdown extra-sub-menu" [(ngbCollapse)]="subSubitem.isCollapsed">
                          <ul class="nav nav-sm flex-column" aria-expanded="false">
                            @for(subSubitem1 of subSubitem.subItems; track $index){
                            <li class="nav-item">
                              <a [attr.data-parent]="subSubitem1.parent_id" [routerLink]="subSubitem1.link"
                                class="nav-link" (click)="updateActive($event)"
                                (mouseenter)="mouseHovering(subSubitem1)" (mouseleave)="mouseLeft(subSubitem1)">
                                {{ subSubitem1.label }}
                                <i style="position:absolute;right:10px"
                                  *ngIf="subSubitem1.showStar && !subSubitem1.showStarColor"
                                  class="las la-star text-end icon nav-icon"
                                  (click)="$event.preventDefault();saveAsFavorite(subSubitem1);$event.stopPropagation()"></i>
                                <i style="position:absolute;right:10px"
                                  *ngIf="subSubitem1.showStar && subSubitem1.showStarColor"
                                  class="las la-star text-end icon nav-icon text-warning"
                                  (click)="$event.preventDefault();removeAsFavorite(subSubitem1);$event.stopPropagation()"></i>
                              </a>
                            </li>
                            }
                          </ul>
                        </div>
                        }@else{
                        <a [attr.data-parent]="subSubitem.parent_id" [routerLink]="subSubitem.link" class="nav-link"
                          (click)="updateActive($event)" (mouseenter)="mouseHovering(subSubitem)"
                          (mouseleave)="mouseLeft(subSubitem)">
                          {{ subSubitem.label }}
                          <i style="position:absolute;right:10px"
                            *ngIf="subSubitem.showStar && !subSubitem.showStarColor"
                            class="las la-star text-end icon nav-icon"
                            (click)="$event.preventDefault();saveAsFavorite(subSubitem);$event.stopPropagation()"></i>
                          <i style="position:absolute;right:10px"
                            *ngIf="subSubitem.showStar && subSubitem.showStarColor"
                            class="las la-star text-end icon nav-icon text-warning"
                            (click)="$event.preventDefault();removeAsFavorite(subSubitem);$event.stopPropagation()"></i>
                          @if(subSubitem.badge && !subSubitem.showStar){<span
                            class="badge badge-pill {{subSubitem.badge.variant}}">{{subSubitem.badge.text
                            }}</span>}
                        </a>
                        }
                      </li>
                      }
                    </ul>
                  </div>
                  }@else{
                  <a [routerLink]="subitem.link" class="nav-link" [attr.data-parent]="subitem.parent_id"
                    (click)="updateActive($event)" (mouseenter)="mouseHovering(subitem)"
                    (mouseleave)="mouseLeft(subitem)">
                    {{ subitem.label}}
                    <i style="position:absolute;right:10px" *ngIf="subitem.showStar && !subitem.showStarColor"
                      class="las la-star text-end icon nav-icon"
                      (click)="$event.preventDefault();saveAsFavorite(subitem);$event.stopPropagation()"></i>
                    <i style="position:absolute;right:10px" *ngIf="subitem.showStar && subitem.showStarColor"
                      class="las la-star text-end icon nav-icon text-warning"
                      (click)="$event.preventDefault();removeAsFavorite(subitem);$event.stopPropagation()"></i>
                    @if(subitem.badge && !subitem.showStar){<span
                      class="badge badge-pill {{subitem.badge.variant}}">{{subitem.badge.text
                      }}</span>}
                  </a>
                  }
                </li>
                }
              </ul>
            </div>
            }@else{
            <a [routerLink]="item.link" class="side-nav-link-ref nav-link menu-link">
              @if(item.icon){<i class="{{ item.icon }} icon nav-icon" class=""></i>}
              <span class=""> {{ item.label }}</span>
              @if(item.badge && !item.showStar){ <span
                class="badge {{item.badge.variant}} float-end">{{item.badge.text}}</span>}
            </a>
            }
          </li>
          }
          }
        </ul> -->
      </ngx-simplebar>
    </div>
    <!-- Sidebar -->
  </div>
  <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay" (click)="SidebarHide()"></div>