<div class="modal-header">
  <h4 class="modal-title">Queue Selection</h4>
  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="dismiss()" aria-label="Close"></button>
</div>
<div class="modal-body mh-250">

  <app-loading [isLoading]="isLoading" [showBorder]="false"></app-loading>

  <div class="form-check" *ngFor="let row of queues; let i = index">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1{{i}}"
      [(ngModel)]="currentSelection" [value]="row.id" [disabled]="isLoading">
    <label class="form-check-label" for="flexRadioDefault1{{i}}">
      {{row.name}}
    </label>
  </div>

  <h4 *ngIf="!isLoading && !data">Sorry, no data found.</h4>

</div>
<div class="modal-footer">
  <button (click)="dismiss()" type="button" class="btn btn-light">Close</button>
  <button (click)="onSubmit()" type="button" class="btn btn-primary" [disabled]="isLoading">Submit</button>
</div>