<div *ngIf="!id">
    <div class="row">
        <div class="col-xl-5">
            <div class="card card-body">
                <h4>Please enter the title in the designated field and click the start button to begin the process.

                </h4>

                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input class="form-control" [(ngModel)]="name" type="text" placeholder="Enter name">
                </div>

                <button class="btn-primary btn ms-auto" (click)="start()" *ngIf="!id" [disabled]="!name">Start</button>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" *ngIf="completed?.length > 0">
    <div class="card-header">
        <h4 class="card-title mb-0">Completed Times</h4>
    </div>
    <div class="card-body p-4">
        <ul class="p-0 m-0 ms-2">
            <li *ngFor="let row of completed">
                {{row.id}} {{row.time_tracker_title}}
                <ul class="p-0 m-0 ms-2">
                    <li *ngFor="let item of row.times">
                        <small>{{item.start_time}} - {{item.end_time}}</small>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div *ngIf="id">
    <div class="mb-3">
        <h5>ID#: {{data?.id}}</h5>
        <h5>Title: {{data?.title}}</h5>
        <p>Created Date: {{data?.created_date}}</p>
        <p>Created By: {{data?.created_by_name}}</p>
        <p>Completed Date: {{data?.completed_date}}</p>
        <button type="button" class="btn btn-danger me-2" (click)="onDeleteMain()"
            *ngIf="!data?.completed_date">Delete</button>
    </div>
    <div class="row">
        <div class="col-xl-5">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Time Tracker</h4>
                </div>
                <div class="card-body">

                    <h4 *ngIf="!times.length">No times recorded.</h4>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start pointer"
                            *ngFor="let row of times" (click)="!data?.completed_date && edit(content, row)">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{row.title}}
                                </div>
                                <p>Start: {{row.start_time}}</p>
                                <p>End: {{row.end_time}}</p>
                                <p>Total Time: {{getTotalTime(row.start_time, row.end_time) || 0}}</p>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="card-footer d-flex">
                    <button class="btn-success btn" (click)="finish();" *ngIf="times.length > 0"
                        [disabled]="data?.completed_date">Finished</button>
                    <button class="btn-primary btn ms-auto" (click)="openBottom(content)"
                        [disabled]="data?.completed_date">Add Time</button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #content let-offcanvas>
        <div class="offcanvas-header">
            <h4 class="offcanvas-title">Time Tracker</h4>
            <button type="button" class="btn-close" aria-label="Close"
                (click)="offcanvas.dismiss('Cross click')"></button>
        </div>
        <div class="offcanvas-body" style="height:400px !important">

            <div class="mb-3">
                <label class="form-label">Name</label>
                <input class="form-control" [(ngModel)]="name" type="text" placeholder="Enter name">
            </div>

            <div class="mb-3">
                <label class="form-label">Start Time</label>
                <input class="form-control" [(ngModel)]="start_time" type="datetime-local">
            </div>

            <div class="mb-3">
                <label class="form-label">End Time</label>
                <input class="form-control" [(ngModel)]="end_time" type="datetime-local">
            </div>

            <div class="text-end">
                <button type="button" class="btn btn-light me-2"
                    (click)="offcanvas.close('Close click')">Cancel</button>
                <button type="button" class="btn btn-danger me-2" (click)="onDelete()" *ngIf="edit_id">Delete</button>
                <button type="button" class="btn btn-outline-success"
                    (click)="offcanvas.close({name,start_time,end_time})">Save</button>
            </div>
        </div>
    </ng-template>
</div>