<div class="row">
    <div class="col-xl-7 mt-2 col-sm-12 grid-margin">
        <div class="card">
            <div class="card-body p-0">
                <ace [config]="aceConfig" [mode]="'plain_text'" [theme]="aceTheme" [(value)]="text"
                    style="width:100%; overflow: auto;" (textChanged)="onChange($event)" #editor>
                </ace>
            </div>

            <div class="card-footer">
                <button class="btn btn-primary btn-md" (click)="!loading && submit()" [disabled]="loading">
                    Run Query <span class="ms-2 badge bg-dark">Ctrl Enter</span>
                </button>
            </div>
        </div>
    </div>
    <div class=" col-xl-5 mt-2 col-sm-12 grid-margin">
        <div class="card overflow-hidden">
            <div class="card-header">
                <div class="d-flex">
                    <h4 class="card-title mb-0 flex-grow-1"> QAD Tables </h4>
                </div>
            </div>
            <ag-grid-angular [gridOptions]="gridOptions1" class="ag-theme-quartz no-border" style="height: 418px;"
                [rowData]="queries" [columnDefs]="columnDefs1">
            </ag-grid-angular>
        </div>
    </div>
</div>

<h5 *ngIf="!loading && data?.length == 0">
    No results found.
</h5>

<div class="row" *ngIf="!loading && data?.length > 0">
    <div class="col-12 col-xl-12 mt-2 grid-margin">
        <div class="card overflow-hidden">
            <div class="card-header">
                <div class="d-flex">
                    <h4 class="card-title mb-0 flex-grow-1"> Query Information </h4>
                </div>
            </div>
            <ag-grid-angular [gridOptions]="gridOptions" class="ag-theme-quartz no-border" style="height: 787px;"
                [rowData]="data" [columnDefs]="columnDefs">
            </ag-grid-angular>
        </div>
    </div>
</div>