<div class="modal-header border-bottom">
  <div style="width:350px">
    <app-so-search (notifyParent)="notifyParent($event)" [value]="salesOrderNumber" [showLabel]="false"></app-so-search>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="dismiss()" aria-label="Close"></button>
</div>
<div class="modal-body bg-light">
  <app-order-lookup [salesOrderNumber]="salesOrderNumber" (setData)="getData = $event"></app-order-lookup>
</div>
<div class="modal-footer border-top">
  <button (click)="dismiss()" type="button" class="btn btn-light">Close</button>
  <button (click)="getData()" type="button" class="btn btn-primary">Refresh</button>
</div>