<div class="modal-header border-bottom">
  <h5 class="modal-title" id="modal-basic-title">Sales Info: {{salesOrderNumber}}</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="dismiss()" aria-label="Close"></button>
</div>

<div class="modal-body" *ngIf="isLoading">
  <app-loading [isLoading]="isLoading" [showBorder]="false"></app-loading>
</div>

<div class="modal-body bg-light" *ngIf="!isLoading">


  <div class="mb-3">
    <div style="width:350px">
      <app-so-search (notifyParent)="notifyParent($event)" [value]="salesOrderNumber"></app-so-search>
    </div>
  </div>

  <!-- <button class="btn btn-outline-primary" type="button" (click)="print()">Print</button> -->


  <div style="width: 100%; min-height: calc(100vh - 550px);">
    <h4 *ngIf="!isLoading && !data.orderFound" class="text-center p-3">Sorry, no record found.</h4>

    <div class="row" *ngIf="data && data.orderFound">
      <div class="col-lg-12">

        <div class="alert alert-success" role="alert" *ngIf="data?.lineOverall == 100">
          <span class="font-weight-semibold">Shipment Complete! </span> &nbsp;
          According to the system, this order shipped complete on
          {{data?.main.SO_SHIP_DATE}}.
        </div>

        <div class="alert alert-warning" role="alert" *ngIf="data?.lineOverall != 100">
          <span class="font-weight-semibold">Line Information! </span> &nbsp;
          According to the system, this order is about
          {{data?.lineOverall | number : '1.2-2'}}% complete.
        </div>

      </div>
    </div>

    <div *ngIf="data && data.orderFound" id="print">
      <div class="row">
        <div class="col-lg-4 col-print-6 rid-margin float-left">
          <div class="card overflow-hidden">
            <div class="card-header font-weight-bolder">
              Order Information
            </div>
            <ul class="list-group list-group-flush ">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>So Number</span>
                {{data.main.SO_NBR}}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Due Date</span>
                {{data.main.SO_DUE_DATE}}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Ordered Date</span>
                {{data.main.SO_ORD_DATE}}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Required Date</span>
                {{data.main.SO_REQ_DATE}}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Last Shipped On</span>
                {{data?.lastShipDate?.abs_shp_date || 'No Ship Date'}}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Ship Via</span>
                {{data.main.SO_SHIPVIA}}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 grid-margin d-print-none">
          <div class="card overflow-hidden">
            <div class="card-header font-weight-bolder">
              Address Information
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Name</span>
                {{data.address.ad_name}}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Ship To</span>
                {{data.address.ad_addr}}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Address</span>
                {{data.address.ad_line2}}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>State</span>
                {{data.address.ad_state}}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Zip</span>
                {{data.address.ad_zip}}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Customer</span>
                {{data.address.ad_ref}}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-print-6 grid-margin">
          <div class="card overflow-hidden">
            <div class="card-header font-weight-bolder">
              Order Summary
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Ordered Qty</span>
                {{data.ordered}}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Picked Qty</span>
                {{data.picked}}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Shipped Qty</span>
                {{data.shipped}}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Invoiced Qty</span>
                {{data.inv}}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Total Lines</span>
                {{data.lines}}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                <span>Price</span>
                {{data.price | currency}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row d-none d-print-block">
        <div class="col-lg-12">
          <table class="table" style="padding-bottom:20px">
            <thead>
              <tr>
                <th>Due Date</th>
                <th>Cust PO#</th>
                <th>Line</th>
                <th>Part</th>
                <th>Cust Part</th>
                <th>CO#</th>
                <th>Ordered</th>
                <th>Shipped</th>
                <th>Shipped Date</th>
                <th>Last Comment</th>
                <th>% Complete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of data.mainDetails">
                <td style="white-space: nowrap;">{{row.sod_due_date}}</td>
                <td>{{row.sod_contr_id}}</td>
                <td>{{row.sod_line}}</td>
                <td>{{row.sod_part}}</td>
                <td>{{row.sod_custpart}}</td>
                <td>{{row.sod_order_category}}</td>
                <td>{{row.sod_qty_ord}}</td>
                <td>{{row.sod_qty_ship}}</td>
                <td style="white-space: nowrap;">{{row.ABS_SHP_DATE}}</td>
                <td>
                  {{row.COMMENTSMAXHTML}}
                </td>
                <td>{{row.PERCENT | number : '1.2-2'}}%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="data && data.orderFound">
      <div class="col-lg-12 grid-margin">
        <div class="card overflow-hidden d-flex justify-content-between">
          <div class="card-header font-weight-bolder">
            Line Details
            <span class="text-end">Overall {{data.lineOverall | number : '1.2-2'}}% completed</span>
          </div>
          <div class="card-body p-0">
            <ag-grid-angular *ngIf="data?.mainDetails" style="width: 100%;height:500px"
              class="ag-theme-alpine no-border" [gridOptions]="gridOptions" [rowData]="data?.mainDetails">
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="data && data.orderFound">
      <div class="col grid-margin">
        <div class="card shadow-md">
          <div class="card-header font-weight-bolder">
            Ship Details
          </div>
          <div class="card-body p-0">
            <ag-grid-angular *ngIf="data?.ship" style="width: 100%;height:500px" class="ag-theme-alpine no-border"
              [gridOptions]="gridOptions1" [rowData]="data?.ship">
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="transactions?.length == 0">
      <div class="col grid-margin">
        <button (click)="!loadingIndicatorTransactions && getTransactions()" type="button"
          class="btn btn-primary">{{loadingIndicatorTransactions ? 'Loading...': 'View Transactions'}}</button>
      </div>
    </div>
    <div class="row" *ngIf="transactions?.length > 0">
      <div class="col grid-margin">
        <div class="card overflow-hidden">
          <div class="card-header font-weight-bolder">
            Order Transactions
          </div>
          <div class="card-body p-0">
            <ag-grid-angular *ngIf="transactions" style="width: 100%;height:500px" class="ag-theme-alpine no-border"
              [gridOptions]="gridOptions2" [rowData]="transactions">
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer border-top">
  <button (click)="dismiss()" type="button" class="btn btn-gray">Close</button>
  <button (click)="!isLoading && getData()" type="button" class="btn btn-primary">{{isLoading ?
    'Loading...' : 'Refresh'}}</button>
</div>