<form [formGroup]="form" autocomplete="off">

    <div class="row">
        <div class="col mb-3">
            <app-qad-wo-search [ngClass]="{ 'is-invalid': submitted && f['wo_nbr'].errors }"
                (notifyParent)="notifyParent($event)" [value]="f['wo_nbr'].value"
                [disabled]="this.form.get('wo_nbr').disabled"></app-qad-wo-search>
        </div>
    </div>


    <div class="mb-3">
        <app-user-search (notifyParent)="notifyAssignUserParent($event)" [value]="form.value['assigned_user']"
            [ngClass]="{ 'is-invalid': submitted && f['assigned_user'].errors }" [multiple]="false"
            [form_label]="'Assign user to this work order'"></app-user-search>
    </div>


    <div class="row">
        <div class="col mb-3">
            <label class="form-label" [ngClass]="formValidator('kanban_ID')">Queue</label>
            <select class="form-select" formControlName="kanban_ID">
                <option *ngFor="let row of queues" [value]="row.id">
                    {{row.name}}
                </option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <label class="form-label" [ngClass]="formValidator('so_nbr')">So Number</label>
            <input type="text" class="form-control" name="so_nbr" formControlName="so_nbr" placeholder="Enter so number"
                [ngClass]="{ 'is-invalid': submitted && f['so_nbr'].errors }" />
        </div>
        <div class="col mb-3">
            <label class="form-label" [ngClass]="formValidator('staging_bay')">Staging Bay</label>
            <input type="text" class="form-control" name="staging_bay" formControlName="staging_bay"
                placeholder="Enter so number" placeholder="Enter staging bay"
                [ngClass]="{ 'is-invalid': submitted && f['staging_bay'].errors }" />
        </div>
    </div>

    <!-- <h4>Start & End Time</h4>
    <div class="row">
        <div class="col mb-3">
            <label class="form-label" [ngClass]="formValidator('start_time')">Start Time</label>
            <input type="datetime-local" class="form-control" name="start_time" formControlName="start_time"
                placeholder="Enter start time" [ngClass]="{ 'is-invalid': submitted && f['start_time'].errors }" />
        </div>
        <div class="col mb-3">
            <label class="form-label" [ngClass]="formValidator('end_time')">End Time</label>
            <input type="datetime-local" class="form-control" name="end_time" formControlName="end_time"
                placeholder="Enter start time" [ngClass]="{ 'is-invalid': submitted && f['end_time'].errors }" />
        </div>
    </div> -->

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="hot_order">
        <label class="form-check-label" for="flexSwitchCheckDefault">Hot Order</label>
    </div>

</form>