<div class="row">
  <div class="content-grid col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-10 col-xxxl-12">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <button class="btn btn-light btn-sm shadow-none bg-light rounded border-0 me-2 me-auto" *ngIf="goBack"
          (click)="goBack()"><i class="mdi mdi-arrow-left pointer text-muted"></i> Back</button>

        <div class="input-group input-group-sm ms-3 me-3" style="min-width:200px;max-width: 200px;">
          <select class="form-select form-select-sm" [(ngModel)]="printFormLanguage">
            <option selected>Choose...</option>
            <option *ngFor="let row of printFormOptions" [value]="row.value">{{row.name}}</option>
          </select>
          <label class="input-group-text pointer" for="inputGroupSelect02" (click)="onPrint(printFormLanguage)">Print</label>
        </div>

        <h4 class="card-title mb-0 flex-grow-1 text-end"> {{title}} </h4>
      </div>
      <div class="card-body" style="min-height:300;height: calc(100vh - 230px);overflow:auto">
        <app-safety-incident-form (setFormEmitter)="setFormEmitter($event)" [submitted]="submitted"
          (setOnPrintEmitter)="onPrint = $event"></app-safety-incident-form>


        <div class="mt-3">
          <div class="form-group">
            <label for="file">Upload Supporting documents (photos, reports etc)</label>
            <input id="file" type="file" multiple class="form-control" #myInput (change)="onFileChange($event)">
          </div>
        </div>

      </div>
      <div class="card-footer d-flex d-flex justify-content-between">
        <button class="btn btn-light" [disabled]="isLoading" (click)="onCancel()">Cancel</button>
        <button class="btn btn-primary" [disabled]="isLoading" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
</div>