<app-material-request-validate [id]="id" *ngIf="id" [goBack]="goBack"></app-material-request-validate>
<div class="row" *ngIf="!id">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0 flex-grow-1"> {{title}} </h4>
      </div>
      <div class="card-body p-0">
        <ag-grid-angular class="ag-theme-alpine no-border" [rowData]="data" [columnDefs]="columnDefs"
          [gridOptions]="gridOptions" style="width: 100%;height: calc(100vh - 170px);">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>