<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <select [(ngModel)]="typeOfView" (ngModelChange)="getData()">
                        <option *ngFor="let row of ['Monthly', 'Weekly', 'Daily']" [value]="row">{{row}}</option>
                    </select>
                    <input type="date" [(ngModel)]="dateFrom">
                    <input type="date" [(ngModel)]="dateTo">
                    <button class="btn btn-sm btn-primary" (click)="getData()">Go</button>
                    <div class="ms-auto">
                        <h4 class="card-title mb-0 flex-grow-1"> asd </h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <!--The content below is only a placeholder and can be replaced.-->
                <div id="chart">
                    <apx-chart [series]="series" [chart]="chartOptions.chart" [yaxis]="chartOptions.yaxis"
                        [xaxis]="chartOptions.xaxis" [labels]="chartOptions.labels" [stroke]="chartOptions.stroke"
                        [title]="chartOptions.title" [dataLabels]="chartOptions.dataLabels"
                        [tooltip]="chartOptions.tooltip"></apx-chart>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <div class="ms-auto">
                        <h4 class="card-title mb-0 flex-grow-1"> sdsdsd </h4>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <ag-grid-angular class="ag-theme-quartz no-border" [rowData]="dataTable" [columnDefs]="columnDefs"
                    [gridOptions]="gridOptions" style="height: calc(100vh - 170px);">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>