<div class="alert alert-danger d-flex align-items-center sticky-top" role="alert" *ngIf="liveUpdateMessage != ''">
    {{liveUpdateMessage}} <button class="btn btn-light btn-sm ms-2" (click)="refresh()">Refresh</button>
</div>

<div class="card mb-3">
    <div class="card-body d-flex text-nowrap align-middle" style="overflow: auto;">
        <div class="search-box">
            <input type="text" class="form-control search" placeholder="Search for work order number"
                style="width:300px" [(ngModel)]="searchTerm">
            <i class="ri-search-line search-icon"></i>
        </div>

        <div class="ms-3 text-nowrap">
            <ng-select class="text-nowrap" [items]="data?.queues" bindLabel="name" bindValue="name" [appendTo]="'body'"
                [(ngModel)]="currentQueueView" [multiple]="true" style="max-width:350px;min-width:350px"
                (ngModelChange)="onChangeCurrentQueueView()" [hideSelected]="false" placeholder="Search Queues"
                [closeOnSelect]="false" [clearable]="true">
                <ng-template ng-multi-label-tmp let-items="items" let-index="index">
                    <div class="ng-value text-nowrap" *ngFor="let item of items | slice: 0:2">
                        <span class="ng-value-label"> {{ item['name'] }}</span>
                    </div>
                    <div class="ng-value" *ngIf="items.length > 2">
                        <span class="ng-value-label">{{ items.length - 2}} more...</span>
                    </div>
                </ng-template>

                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <div>
                        <p class="float-start">{{item.name}}</p>
                        <span class="float-end">{{item.details.length}}</span>
                    </div>
                </ng-template>
            </ng-select>
        </div>

        <div class="dropdown mx-2 my-2 ms-4 p-0" ngbDropdown container="body">
            <a href="javascript:void(0);" class="text-muted arrow-none" id="dropdownMenuLink1" data-bs-toggle="dropdown"
                aria-expanded="false" ngbDropdownToggle> Filters <u>{{isFilterOn}}</u></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                <li class="pointer active" (click)="onClickFilter('Open picks')">
                    <a class="dropdown-item" [ngClass]="{'active':isFilterOn == 'Open picks'}">Open Picks </a>
                </li>
                <li class="pointer active" (click)="onClickFilter('Over Picked')">
                    <a class="dropdown-item" [ngClass]="{'active':isFilterOn == 'Over Picked'}">Over Picked </a>
                </li>
                <li class="pointer" (click)="onClickFilter('Completed WO')">
                    <a class="dropdown-item" [ngClass]="{'active':isFilterOn == 'Completed WO'}">Completed WO's </a>
                </li>
                <li class="pointer" (click)="onClickFilter('Hot')">
                    <a class="dropdown-item" [ngClass]="{'active':isFilterOn == 'Hot'}"> Hot Orders </a>
                </li>
                <li class="pointer" (click)="onClickFilter('Due Today')">
                    <a class="dropdown-item" [ngClass]="{'active':isFilterOn == 'Due Today'}"> Due Today </a>
                </li>
                <li class="pointer" (click)="onClickFilter('Over Due')">
                    <a class="dropdown-item" [ngClass]="{'active':isFilterOn == 'Over Due'}"> Over Due </a>
                </li>

                <li class="pointer" (click)="onClickFilter('')">
                    <a class="dropdown-item">Clear Filters </a>
                </li>
            </ul>
        </div>

        <button class="btn btn-primary ms-3" (click)="addToKanban()">Add to Work Order Tracker</button>

        <button class="btn btn-light ms-3" (click)="_fetchData()">Refresh</button>

        <div class="form-check form-switch ms-3 mt-2">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="showLess"
                (ngModelChange)="onShowLess()">
            <label class="form-check-label" for="flexSwitchCheckDefault">Show Less Data In Card</label>
        </div>


    </div><!--end card-body-->
</div><!--end card-->


<div class="d-flex tasks-board1 text-nowrap" style="overflow:auto;justify-content: safe center;gap:0;" id="kanbanboard">
    <ng-container *ngFor="let tasks of data?.queues | filterlist:currentQueueView">
        <div style="min-width:188px;max-width:188px;" class="mx-1"
            [ngClass]="{'center-task' : currentQueueView != null && currentQueueView != ''}">
            <div class="d-flex mb-3 sticky-top justify-content-center" style="z-index:1"
                (click)="openKanbanConfig(tasks.id)">
                <div class="flex-grow-1 text-center bg-light p-3 rounded">
                    <h6 class="fs-14 text-uppercase fw-bold mb-0">{{tasks?.name}} <small
                            class="badge bg-success-subtle text-success align-bottom ms-1"
                            [ngClass]="{'bg-danger-subtle text-danger' : tasks.details?.length > 0}">{{tasks.details?.length}}</small>
                    </h6>
                </div>
            </div>
            <ngx-simplebar class="tasklist-content mb-2" style="overflow:auto;height: calc(100vh - 258px);">
                <div id="unassigned-task" class="tasks" [dndDropzone] dndEffectAllowed="move"
                    (dndDrop)="onDrop($event, tasks.details, tasks.id)">
                    <div class="dndPlaceholder p-1 bg-warning-subtle text-warning border border-warning rounded"
                        dndPlaceholderRef>Place here</div>
                    @for(task of tasks.details | myfilter:searchTerm | slice:0:tasks?.max_in_queue != 0 ?
                    tasks?.max_in_queue : tasks.details?.length;track $index; ){
                    <div [dndDraggable]="task" dndEffectAllowed="move" (dndMoved)="onDragged(task, tasks.details)"
                        (onBeforeDrop)="onBeforeDrop(task)" [dndDisableIf]="true">
                        <ng-template [ngTemplateOutlet]="ready"
                            [ngTemplateOutletContext]="{task:task, header:tasks, index:$index}"></ng-template>
                    </div>
                    }
                    <p class="bg-light text-center text-muted" *ngIf="tasks.details.length > 0">End of data</p>
                </div>
            </ngx-simplebar>
        </div><!--end tasks-list-->
    </ng-container>

</div><!--end task-board-->

<!-- Task  -->
<ng-template #ready let-task='task' let-header='header' let-index='index'>
    <div *ngIf="!task.hidden"
        class="card tasks-box card-animate1 mb-2 {{header?.first_in_first_out && index > 0 ? 'opacity-25 no-pointer' : ''}}"
        [ngClass]="{'border-danger border border-2': task?.wo_mstr?.wo_due_date < today && task?.wo_mstr?.wo_status != 'C', 'bg-danger-subtle text-danger' : task?.timeDiffMins >=60 && header.id > 1,'bg-warning-subtle text-warning' : task?.timeDiffMins >=30 && header.id > 1}">
        <div class="card-header p-1 text-white text-center blink" *ngIf="task.hot_order">
            <span class="text">HOT ORDER</span>
        </div>
        <div class="card-header py-1 text-danger text-center overflow-hidden"
            *ngIf="header.id !== 1 && task?.wo_mstr?.wo_status != 'C'">
            <i class="text-danger ri-lock-line" style="position:absolute;left:5px;margin-right:3px"
                *ngIf="header.enable_validation" title="Validation On"></i>
            {{task.timeDiff || 'Loading time'}}
        </div>
        <div class="card-header py-1 text-center text-center p-0 m-0 bg-success-subtle text-success"
            *ngIf="task?.wo_mstr?.wo_status == 'C'">
            WO already completed
        </div>
        <div class="card-body">
            <div *ngIf="task.isLoading || isLoadingAll" class="bg-loading">
                <span style="
                position: absolute;
                top: 50%;
                left: 42%;
                transform: translateY(-50%);color:#fff">
                    <div class="spinner-border text-primery" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </span>

            </div>

            <div class="d-flex mb-2 ">

                <h6 class="fs-13 mb-0 flex-grow-1 text-truncate">
                    <u (click)="openPickSheet(task.wo_nbr)" class="pointer" container="body">{{task.wo_nbr}}</u>
                </h6>
                <div class="dropdown" ngbDropdown container="body">
                    <a href="javascript:void(0);" class="text-muted arrow-none" id="dropdownMenuLink1"
                        data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle><i
                            class="ri-more-fill"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                        <li (click)="openQueueSelection(task, header)" class="pointer">
                            <a class="dropdown-item">
                                <i class="ri-eye-fill align-bottom me-2 text-muted"></i> Select Queue </a>
                        </li>
                        <li (click)="editKanban(task)" class="pointer">
                            <a class="dropdown-item">
                                <i class="ri-edit-2-line align-bottom me-2 text-muted"></i> Edit</a>
                        </li>
                        <li (click)="confirm($event, task)" class="pointer">
                            <a class="dropdown-item" data-bs-toggle="modal">
                                <i class="ri-delete-bin-5-line align-bottom me-2 text-muted"></i> Delete</a>
                        </li>
                        <li class="dropdown-item pointer" (click)="this.workOrderInfoModalService.open(task.wo_nbr)">
                            Work Order Info
                        </li>
                        <li class="dropdown-item pointer"
                            (click)="this.workOrderRoutingByWoModalService.open(task.wo_nbr)">
                            Work Order Routing
                        </li>
                        <li class="dropdown-item pointer" (click)="openPickSheet(task.wo_nbr)">
                            Pick Sheet
                        </li>
                    </ul>
                </div>
            </div>

            <div *ngIf="!showLess && task?.wo_mstr" class="mb-0">
                <!-- <p class="">Routing: {{task?.wo_mstr?.wo_routing}}</p> -->
                <!-- <p class="" *ngIf="task.assigned_user">Assigned To: {{task.assigned_user}}</p> -->

                <!-- Simple Group -->
                <div class="pointer d-flex align-items-center" *ngIf="task.assigned_user"
                    title="This WO is assigned to {{task.assigned_user}}" (click)="editKanban(task)">
                    <div class="avatar-group-item material-shadow">
                        <img src="assets/images/users/user-dummy-img.jpg" alt="" class="rounded-circle avatar-xxs me-2"
                            style="width:1.0rem;height:1.0rem">
                    </div>
                    <u>{{task.assigned_user}}</u>
                </div>

                <p class="" *ngIf="task.staging_bay">Staging Bay: {{task.staging_bay}}</p>
                <p class="" *ngIf="isShowing(header, 'so_nbr') && task.so_nbr != ''">SO: {{task.so_nbr}}</p>
                <p class="" *ngIf="isShowing(header, 'item_number')" placement="left"
                    ngbTooltip="{{task?.wo_mstr?.fulldesc}}" container="body">{{task?.wo_mstr?.wo_part}}</p>

                <p class="" *ngIf="isShowing(header, 'qty')">
                    Qty: <a class="pointer" style="color:unset"
                        (click)="this.workOrderInfoModalService.open(task.wo_nbr)"><u>{{task?.wo_mstr?.wo_qty_comp}}/{{task?.wo_mstr?.wo_qty_ord}}</u></a>
                </p>
                <p class="ms-0 ps-0" *ngIf="task?.pickInfo">
                    Picking: <a class="pointer" style="color:unset" (click)="openPickSheet(task.wo_nbr)"><u class="me-2"
                            title="{{task?.pickInfo?.wod_qty_iss}} of {{task?.pickInfo?.wod_qty_req}} items picked">
                            {{task?.pickInfo?.wod_qty_iss/task?.pickInfo?.wod_qty_req*100 | number : '1.2-2'}}%
                        </u> </a>
                </p>
                <p class="ms-0 ps-0" *ngIf="task?.routingInfo">Routing Open Qty: {{task?.routingInfo?.open_qty}}</p>
                <p class="ms-0 ps-0" *ngIf="task?.routingInfo">
                    Routing Ops:
                    <a class="pointer" style="color:unset"
                        (click)="this.workOrderRoutingByWoModalService.open(task.wo_nbr)"><u>{{task?.routingInfo?.wr_op}}</u></a>
                </p>
                <p class="ms-0 ps-0">WO Status: {{task?.wo_mstr?.wo_status}}</p>
                <p class="mb-0">WO Due Date: {{task?.wo_mstr?.wo_due_date}}</p>
                <p class="mb-0">Due By: {{task?.due_by}}</p>
                <p class="mb-0" *ngIf="isShowing(header, 'printed_date') && task.print_details?.printedDate">
                    <i class="align-middle float-start ri-printer-line me-1"></i>
                    {{task.print_details?.printedDate | date:'short'}}
                </p>
                <p class="mb-0" style="text-overflow: ellipsis;overflow: hidden;white-space: normal;display: block; "
                    *ngIf="task?.wo_mstr?.wo_rmks" title="{{task?.wo_mstr?.wo_rmks}}">
                    Rmks: {{task?.wo_mstr?.wo_rmks}}</p>
                <p class="mb-0" *ngIf="task?.wo_start_time">
                    <span class="icon-on"><i class="ri-timer-line align-bottom me-1"></i></span>
                    {{task?.wo_start_time | date : 'HH:mm:ss'}} -
                    {{task?.wo_end_time | date : 'HH:mm:ss'}}
                </p>

            </div>
            <div *ngIf="!task?.wo_mstr">
                WO not found..
            </div>

        </div>
        <div class="card-footer border-top-dashed p-1 text-center"
            *ngIf="(!task?.wo_start_time || !task?.wo_end_time) && header?.enable_start_time">
            <div class="d-grid gap-2 d-md-block">

                <button type="button" class="btn btn-success custom-toggle  btn-sm me-2 px-3" style="font-size:10px"
                    (click)="onStart('start', task)" *ngIf="!task?.wo_start_time">
                    <span class="icon-on"><i class="ri-timer-line align-bottom me-1"></i> Start Timer</span>
                </button>

                <button type="button" class="btn btn-danger custom-toggle  btn-sm me-2 px-3" style="font-size:10px"
                    (click)="onStart('stop', task)" *ngIf="task?.wo_start_time && !task?.wo_end_time">
                    <span class="icon-on"><i class="ri-timer-line align-bottom me-1"></i> Stop Timer</span>
                </button>
            </div>
        </div>
        <div class="card-footer border-top-dashed p-0 text-center"
            *ngIf="task?.wo_mstr?.wo_due_date <= today && task?.wo_mstr?.wo_status != 'C'">
            {{getDaysLate(task.wo_mstr.wo_due_date)}}
        </div>
        <div class="card-footer border-top-dashed py-2">
            <div class="d-flex">
                <div class="flex-grow-1 text-danger">
                    <!-- <small>{{task.timeDiff}}</small> -->
                </div>
                <div class="flex-shrink-0">
                    <ul class="link-inline mb-0">
                        <li class="list-inline-item me-3" (click)="onRefresh(task)" title="Refresh Card">
                            <a href="javascript:void(0)" class="text-muted"><i
                                    class="ri-refresh-line align-bottom"></i></a>
                        </li>
                        <li class="list-inline-item me-3" (click)="openQueueSelection(task, header)"
                            title="Select Queue">
                            <a href="javascript:void(0)" class="text-muted"><i class="ri-eye-line align-bottom"></i>
                                {{task.view}}</a>
                        </li>
                        <li class="list-inline-item" (click)="viewComment(task)" title="Add Comments">
                            <a href="javascript:void(0)" class="text-muted">
                                <i class="ri-question-answer-line align-bottom"
                                    [ngClass]="{'text-info':task.comment?.id}"></i> {{task.comment?.hits || ''}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--end card-body-->
    </div><!--end card-->
</ng-template>