<div class="row" *ngIf="!data && !id">
  <div class="content-grid col-xxl-8">
    <div class="card">
      <div class="card-body" style="min-height:300px">
        Please select property to view.
      </div>
      <div class="card-footer d-flex  d-flex justify-content-between">
        <button class="btn btn-light" [disabled]="isLoading" (click)="onCancel()">Go to list</button>
      </div>
    </div>
  </div>
</div>

<div class="row" [hidden]="!data && !id">
  <div class="content-grid col-xxl-8">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <button class="btn btn-light" *ngIf="goBack"
          (click)="goBack()"><i class="mdi mdi-arrow-left pointer text-muted"></i> Back</button>
        <h4 class="card-title mb-0 flex-grow-1 text-end"> {{title}} </h4>
      </div>
      <div class="card-body" style="min-height:300px">
        <app-property-form (setFormEmitter)="form = $event" [submitted]="submitted"></app-property-form>
      </div>
      <div class="card-footer d-flex  d-flex justify-content-between" *ngIf="data && id">
        <button class="btn btn-light" [disabled]="isLoading" (click)="onCancel()">Cancel</button>
        <button class="btn btn-primary" [disabled]="isLoading" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
</div>
