<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title mb-0">Attachments</h4>
                </div>
            </div>
            <div class="card-body">
                <app-feature-attachments-panel
                    [feature]="FeatureType.NCR"
                    [resourceId]="id">
                </app-feature-attachments-panel>
            </div>
        </div>
    </div>
</div>