<label class="form-label" *ngIf="showLabel">{{form_label}} <span *ngIf="required" class="text-danger">*</span></label>
<ng-select bindLabel="id" #select [clearOnBackspace]="false" [items]="data$ | async" [addTag]="addTag"
  [multiple]="multiple" [hideSelected]="hideSelected" [trackByFn]="trackByFn" [minTermLength]="minTermLength"
  [loading]="dataLoading" typeToSearchText="Please enter {{minTermLength}} or more characters" [typeahead]="dataInput$"
  [(ngModel)]="value" [virtualScroll]="virtualScroll" (change)="select.blur();getSelectedValue($event)"
  [editableSearchTerm]="editableSearchTerm" [placeholder]="placeholder" [class]="className"
  [dropdownPosition]="dropdownPosition" [closeOnSelect]="closeOnSelect" [notFoundText]="notFoundText"
  [clearSearchOnAdd]="true" [disabled]="disabled" [openOnEnter]="openOnEnter" [appendTo]="appendToBody"
  [clearable]="true">

  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
    <div class="text-left" style="text-align: left !important;">
      <p> QIR: <b>{{ item.qir }} </b> | Customer: <b>{{item.customername}}</b>
        <span class="text-end float-end">
          #{{ item.id }}
        </span>
      </p>
    </div>
  </ng-template>
</ng-select>