<div class="view-template">
  <div class="card shadow-none" style="min-height:73px">
    <div class="card-body">
      <div class="row">
        <div class="col-9">
          <div class="position-relative" style="bottom:18px">
            <div class="position-absolute" style="top:10px;">
              <h2 class="fw-bold" style="letter-spacing: .1rem;"><i
                  class="mdi {{icon}} text-muted"></i>
                {{title}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-0 m-0 p-0">
    <div class="col-12 g-0 m-0 p-0">
      <div class="card shadow-none bg-light">
        <div class="d-flex p-2 rounded-bottom ms-3">
          <ul class="d-flex align-items-center m-0 p-0">
            <li class="d-flex align-items-center pointer" [routerLink]="row.link"
              *ngFor="let row of menu; let i = index"
              [ngClass]="{'ms-3 ps-3 border-start border-secondary':i > 0}">
              <a class="pt-1px d-none d-md-block text-body nav-link" routerLinkActive="active_nav"><i
                  class="{{row.icon}}"></i> {{row.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row g-0 m-0 p-0">
    <div class="col-12 g-0 m-0 p-0">
      <div class="card shadow-none bg-light">
        <div class="d-flex p-2 rounded-bottom ms-3">
          <ul class="d-flex align-items-center m-0 p-0">
            <li class="d-flex align-items-center pointer" routerLink="../list" routerLinkActive
              #list="routerLinkActive">
              <a class="pt-1px d-none d-md-block text-body nav-link" [ngClass]="{'active_nav': list.isActive}"><i
                  class="feather icon-list"></i> List Jobs</a>
            </li>
            <li class="ms-3 ps-3 border-start border-secondary d-flex align-items-center pointer"
              routerLink="./edit" routerLinkActive #edit="routerLinkActive">
              <a class="pt-1px d-none d-md-block text-body nav-link" [ngClass]="{'active_nav': edit.isActive}"><i
                  class="feather icon-file-text"></i> View/Edit Job</a>
            </li>
            <li class="ms-3 ps-3 border-start border-secondary d-flex align-items-center pointer"
              routerLink="./create" routerLinkActive #create="routerLinkActive">
              <a class="pt-1px d-none d-md-block text-body nav-link" [ngClass]="{'active_nav': create.isActive}"><i
                  class="feather icon-plus-square"></i> Create new job</a>
            </li>
            <li class="ms-3 ps-3 border-start border-secondary d-flex align-items-center pointer" routerLink="./map"
              routerLinkActive #map="routerLinkActive">
              <a class="pt-1px d-none d-md-block text-body nav-link" [ngClass]="{'active_nav': map.isActive}"><i
                  class="feather icon-plus-square"></i> Map</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
</div>
