<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <button class="btn btn-light btn-sm shadow-none bg-light rounded border-0 me-2 me-auto" *ngIf="goBack"
      (click)="goBack()"><i class="mdi mdi-arrow-left pointer text-muted"></i> Back</button>
    <h4 class="card-title mb-0 flex-grow-1 text-end"> Schedule/View Request </h4>
  </div>
  <div class="card-body" style="min-height:300px">
    <div class="border border-3 p-3 mb-3" *ngIf="jobInfo">
      <p>FSID: {{jobInfo?.id}}</p>
      <p *ngIf="jobInfo.request_id">Request ID: {{jobInfo.request_id}}</p>
      <p>Created by: {{jobInfo?.created_by}}</p>
      <p>Created date: {{jobInfo?.created_date}}</p>
      <p *ngIf="jobInfo?.customer_cancelled">Cancellation: {{jobInfo?.cancellation_comments}}</p>
    </div>

    <app-job-form (setFormElements)="form = $event" [submitted]="submitted"
      (setOnRemoveTech)="setOnRemoveTech($event)"></app-job-form>
  </div>
  <div class="card-footer d-flex">
    <button class="btn btn-light" [disabled]="isLoading" (click)="onCancel()">Cancel</button>
    <button class="btn btn-primary ms-auto me-2" (click)="onSubmit()" [disabled]="isLoading">Submit</button>
    <button class="btn btn-primary" (click)="onSubmitConfirmationEmail()" [disabled]="isLoading">Submit & Send
      Confirmation
      Email</button>
  </div>
</div>