<form [formGroup]="form" autocomplete="off">

    <div class="mb-3">
        <app-user-search (notifyParent)="notifyParent($event)" [value]="form.value['user_roles']" [required]="true"
            [ngClass]="{ 'is-invalid': submitted && f['user_roles'].errors }" [multiple]="true"
            [form_label]="'User Access'"></app-user-search>
    </div>

    <div class="row">
        <div class="col mb-3">
            <label class="form-label" [ngClass]="formValidator('max_in_queue')">Total Visible Orders In Queue</label>
            <input type="text" class="form-control" name="max_in_queue" formControlName="max_in_queue"
                placeholder="Enter number" [ngClass]="{ 'is-invalid': submitted && f['max_in_queue'].errors }" />
            <small>Set value to 0 if you want all orders visible in this queue.</small>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-check ">
            <input class="form-check-input" type="checkbox" id="flexCheckDisabled" formControlName="first_in_first_out">
            <label class="form-check-label" for="flexCheckDisabled">
                First in first out.
            </label>
        </div>
        <small>All orders except the first order in the queue will be disabled. </small>
    </div>

    <div class="row">
        <div class="col mb-3">
            <label class="form-label" [ngClass]="formValidator('name')">Queue Name</label>
            <input type="text" class="form-control" name="name" formControlName="name" placeholder="Enter name"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
        </div>
    </div>

    <!-- <div class="row">
        <div class="col mb-3">
            <label class="form-label" [ngClass]="formValidator('queue')">Queue</label>
            <input type="text" class="form-control" name="queue" formControlName="queue" placeholder="Enter queue"
                [ngClass]="{ 'is-invalid': submitted && f['queue'].errors }" />
        </div>
    </div> -->

    <div class="row">
        <div class="col mb-3">
            <label class="form-label" [ngClass]="formValidator('value')">Task Value</label>
            <input type="text" class="form-control" name="value" formControlName="value" placeholder="Enter value"
                [ngClass]="{ 'is-invalid': submitted && f['value'].errors }" />
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <label class="form-label" [ngClass]="formValidator('show_data')">Info displayed in card</label>
            <input autocomplete="false" type="text" class="form-control" name="show_data" formControlName="show_data"
                placeholder="Enter value" [ngClass]="{ 'is-invalid': submitted && f['show_data'].errors }" />

            <p class="my-2">Available Values</p>

            <ul>
                <li
                    *ngFor="let row of ['prod_line', 'staging_bay', 'so_nbr', 'item_number', 'qty', 'due_date', 'printed_date']">
                    {{row}}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <label class="form-label" [ngClass]="formValidator('seq')">Seq</label>
            <input type="text" class="form-control" name="seq" formControlName="seq" placeholder="Enter value"
                [ngClass]="{ 'is-invalid': submitted && f['seq'].errors }" />
        </div>
    </div>

    <!-- <div class="mb-3">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let row of queues">{{row.seq}} - {{row.name}}</li>
        </ul>
    </div> -->
    

    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" formControlName="enable_start_time">
            <label class="form-check-label">Enable Start & End Time</label>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" formControlName="disable">
            <label class="form-check-label">Disable</label>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" formControlName="enable_validation">
            <label class="form-check-label">Enable Validation</label>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" formControlName="show_column">
            <label class="form-check-label">Display Queue</label>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <label class="form-label" [ngClass]="formValidator('description')">Description</label>
            <textarea autosize [minRows]="1" class="form-control" name="description" formControlName="description"
                placeholder="Enter value" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
                rows="5"></textarea>
        </div>
    </div>


</form>