.modal-content > .modal-draggable {
	background-color: #fff;
	border-radius: 6px;
}

.cdk-drag-dragging {
	background-color: #fff;
	border-radius: 6px;

}

.backgroundTransparent .modal-lg {
	background-color: #fff;
	border-radius: 6px;

}