.ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value {
    background-color: #2271b1 !important;
    color: #fff !important;
    border: var(--vz-border-width) solid var(--vz-input-border-custom) !important;
}