.col-form-label {
    font-weight: bold;
}

.hr-sect {
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.hr-sect1 {
    border-style: dotted none none;
    border-width: 2px;
}