<label class="btn btn-primary btn-sm mb-0" for="inputGroupFile013">Upload</label>
<input type="file" class="form-control form-control" id="inputGroupFile013" [disabled]="loading"
    (change)="onChange($event)" style="display:none">


<table class="table table-borderd">
    <thead>
        <tr>
            <td>File</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data">
            <td>{{row.fileName}}</td>
            <td>
                <button class="btn btn-light" (click)="view(row.id)">View</button>
            </td>
        </tr>
    </tbody>
</table>