<div class="auth-one-bg-position auth-one-bg menu-bg">
  <div class="bg-overlay"></div>
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 1440 120">
      <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
    </svg>
  </div>
</div>

<div class="container p-5 position-relative menu-content">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-10">
      <div class="text-center mb-4">
        <img [src]="'assets/images/the-fi-cropped.png'" class="rounded"
          style="width:200px;margin-bottom:8px;" />
        <p class="text-white-50 mb-0">Operations Portal</p>
      </div>

      <div class="card card-unset">
        <div class="card-body">

          <ng-container *ngFor="let section of data; let last = last">
            <p class="text-muted small fw-semibold text-uppercase mb-2 mt-3">{{section.section}}</p>
            <div class="row g-2 mb-2">
              <div class="col-6 col-sm-4 col-md-3" *ngFor="let item of section.items">
                <button type="button" class="btn btn-light border w-100 p-2 d-flex align-items-center gap-2"
                  (click)="isLink(item)">
                  <i [class]="item.icon + ' fs-18 ' + item.color"></i>
                  <span class="text-start small lh-sm">{{item.name}}</span>
                </button>
              </div>
            </div>
            <hr *ngIf="!last" class="my-2">
          </ng-container>

        </div>
      </div>


    </div>
  </div>
</div>
