<tr>
  <td style="padding: 12px 24px; height: 72px; vertical-align: middle; background-color: #ffffff;" align="left" valign="middle">
    <img
      src="{{mailLogoUrl}}"
      alt="The Fi Company"
      width="160"
      style="display: block; width: 160px; max-width: 160px; height: auto; border: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;"
    />
  </td>
</tr>
