<tr>
  <td style="padding: 12px 24px; height: 72px; vertical-align: middle; background-color: #ffffff;" align="left" valign="middle">
    <img src="{{mailLogoUrl}}" alt="The Fi Company" style="display: block; max-width: 160px; width: auto; height: auto;" />
  </td>
</tr>
