<div class="modal-header">
    <h4>Work Order Routing By WO</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="dismiss()" aria-label="Close"></button>
</div>


<div class="modal-body" *ngIf="isLoading">
    <div class="m-5 text-center">
        <h4>
            <div class="spinner-grow text-primary mb-3" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p>Loading Data. Please wait...</p>
        </h4>
    </div>
</div>


<div class="modal-body" *ngIf="!isLoading">

    <h4 class="modal-title mb-3">Work Order Routing Info</h4>


    <h4 *ngIf="!isLoading && data?.length == 0" class="text-center align-middle mt-2">No records found</h4>

    <ag-grid-angular *ngIf="data?.length > 0" style="width: 100%; height: 357px;" class="ag-theme-quartz"
        [gridOptions]="gridOptions" [rowData]="data">
    </ag-grid-angular>
</div>

<div class="modal-footer">
    <button (click)="dismiss()" type="button" class="btn btn-light">Close</button>
    <button (click)="getData()" type="button" class="btn btn-primary" [disabled]="isLoading">Refresh</button>
</div>