<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <div>
                    <div class="form-icon">
                        <input type="search" class="form-control form-control-icon" style="width:250px"
                            (ngModelChange)="this.gridApi.setGridOption('quickFilterText', $event)" [(ngModel)]="query"
                            placeholder="Search">
                        <i class="ri-search-2-line"></i>
                    </div>
                </div>

                <button class="btn btn-light ms-3" (click)="getData()"><i class="mdi mdi-refresh"></i></button>

            </div>
            <div class="card-body p-0">
                <ag-grid-angular [gridOptions]="gridOptions" class="ag-theme-quartz no-border" [rowData]="data"
                    [columnDefs]="columnDefs" style="height: calc(100vh - 170px);">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>